/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li #1 {display:block;}
.flexslider .slides img, .flexslider .slides .feature-video {width: 628px; height: 353px; position: absolute; float:left; display: block;}
.flexslider .slides .box {width: 320px; height: 353px; float:right; background: #860000; display: block; position: relative;}
.flexslider .slides .red {background: #860000;}
.flexslider .slides .green {background: #45877f;}
.flexslider .slides .blue {background: #415f86;}
.flexslider .slides .dark_green {background: #234b37;}
.flexslider .slides .dark_blue {background: #1e3a5f;}
.flexslider .slides .orange {background: #c25e22;}
.flexslider .slides .brown {background: #493828;}
.flexslider .slides .yellow {background: #b77c0a;}
.flexslider .slides .aqua {background: #147c9a;}
.flexslider .slides .purple {background: #504061;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0; background: #fff; position: relative; 
/* box-shadow: 0 1px 4px rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); */
zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}

/* WB Homepage Feature Slide Style */
#main-content {overflow: hidden;}
#main {width:948px; margin:auto;}
#slider {height:353px;}
.feature-info {position:static;padding-top:30px; padding-left:20px; margin:0;}
.slider-img {position:absolute;}
.slides h1 a, .slides a, .slides a:hover {color:#FFF; font-weight:normal;}
.feature-info ul li {color:#FFF; background: url("../../wb/images/cache30/homepage/background-images/light-bullet.png") no-repeat scroll 0 0.3em transparent; list-style: none outside none; padding: 0 0 0 10px;}
.text-overlay {position:absolute; top:0; right:320px; width:628px; background: url('../../wb/images/cache30/homepage/background-images/dark-transparent-bg.png') repeat 0 0 transparent;}

/*Main Slider Text Style*/
h1 {font-size: 2.4em;}
div.blurb {font-size: 1.2em;}

/* Positioning */
#row-3 {position: relative;}
.blog {top:0; left:320px;}
html > body #wrapper .blog {top:0 !important;} 
.results {top:209px; left:320px; height:287px;}
html > body #wrapper .results, html > body #wrapper .results-es {top:209px !important;}
.badge {top:0; right:0;}
/* html > body #wrapper .badge {top: 698px !important;} */
.socialmedia {
/*	top: 223px; width:186px; */
top:160px; right:0; }
/* html > body #wrapper .socialmedia {top: 920px !important;} */
.ieg-placement {top:478px; right:0;}

/*Secondary Dropdown Nav Menu*/
#governance, #investors, #business {top:685px;}
html > body #audiences #governance, html > body #audiences #investors, html > body #audiences #business {top: 682px;}
/*.more_events {padding-bottom:12px; top:12px;} */
p.blogblurb a, p.blogblurb a:visited {color: #4B453C; margin-top:25px; line-height:normal;}
.blog-author {text-align:right;}

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url('../../wb/images/cache30/homepage/background-images/bg_direction_nav.png') no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: 5px; }
.flex-direction-nav .flex-prev {left:5px;}
.flexslider:hover .flex-next {opacity: 0.8;}
.flexslider:hover .flex-prev {opacity: 0.8;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

#slider .flex-direction-nav {display:none;}

/* Thumbnails */
.flex-control-thumbs {margin:0; border-top: 2px solid #CCCCCC; border-bottom:1px solid #ccc;}
.flex-control-thumbs li {width: 236px; float: left; margin: 0; border-right:1px solid #ccc;}
.flex-control-thumbs li#slide5 {border-right:none;} /*new*/
.flex-control-thumbs img {margin:8px auto 2px; width: 160px; height:90px; border:1px solid #CCC; opacity: 1; cursor: pointer;}
.flex-control-thumbs div:hover {cursor: pointer;}
.flex-control-thumbs .flex-active-slide {opacity: 1; cursor: default;background:#ededed ; }

/* Thumbnail Label */ 
.flex-control-thumbs li span.thumb-label {display:block;width:220px; padding:0 8px; margin-top:2px; height:20px; overflow:hidden; text-align:center; color:#333; font-size:11px;} 
/* Selected Indicator Pipe */
.flex-control-thumbs .indicator {display: block;height: 9px;left: 45%;margin: 0 auto;overflow: visible; margin-top:-8px; width: 18px;}
.flex-control-thumbs  .flex-active-slide .indicator {background: url("../../wb/images/cache30/homepage/background-images/arrow-indicator.png") no-repeat scroll 0 0 transparent;}

/* Control Nav */
.flex-control-nav {margin:0;text-align: center;} /*new*/
#slide1, #slide2, #slide3, #slide4, #slide5 {position:relative;}
ol.flex-control-paging {width:120px; bottom:20px; right:100px;position:absolute; }/*new*/
.flex-control-paging li {width:11px; height:11px; float:left; margin-right:12px;}
.flex-control-paging li a {width: 11px; height: 11px; display: inline-block; background: url('../../wb/images/cache30/homepage/background-images/white-dot.png') no-repeat scroll 0 0 transparent; background: rgba(255,255,255,0.9); cursor: pointer;  -webkit-border-radius: 6px; -moz-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; box-shadow: inset 0 0 3px rgba(255,255,255,0.3);}/*new*/
.flex-control-paging li a {color: transparent; }
.flex-control-paging li a:hover { background: url('../../wb/images/cache30/homepage/background-images/white-dot.png') no-repeat scroll 0 0 transparent; background: rgba(255,255,255,0.7); }
.flex-control-paging li a.flex-active  { background: url('../../wb/images/cache30/homepage/background-images/gray-dot.png') no-repeat scroll 0 0 transparent; background: rgba(100,100,100,0.9); cursor: default;} /*new*/
/*
#slide1 span.flex-control-paging {left:737px;}
#slide2 span.flex-control-paging {left:523px;}
#slide3 span.flex-control-paging {left:309px;}
#slide4 span.flex-control-paging {left:95px;} 
#slide4 span.flex-control-paging {left:-95px;} */

/*Carousel*/
#carousel {width:948px;}
#carousel .slides img {display: block;width: 160px; height:90px; float:none; position:relative;} /*new*/


@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}