/* FAO stylesheet */
  body {  background: #E9EEF4 url(images/mainBackground.gif;
    font-size: 1em;
    margin: 0px 0px 0px 0px;
  }
  p, p.bodytext {
    font-family: Arial, sans-serif;
    font-size: 0.8em;
  }
  td.top_banner {
    height:37px;
  }
  .main{
    width:760px;
  }
  a{
    color:#004673;
    text-decoration:none;
    font-family: Arial, sans-serif;
  }
  a:hover {
    color:#004673;
    text-decoration:underline;
  }
  a.linkinfo {
    font-size: 0.9em;
    font-family: Arial, sans-serif;
    color :  #004673;
  }
  a.external-link-new-window  {
    border: 0px;
    margin: 0px;
    text-decoration:none;
  }
  a.linkglance {
    font-size: 0.9em;
  }
  a.h2glance, .csc-header-n2 h1 {
    font-size: 1em;
  }
  a.more {
    font-size: 0.72em;
    color:  #ff9933;
  }
  td.Knowledge {
    vertical-align: top;
    text-align: center;
  }
  td.Knowledge p.bodytext {
    vertical-align: top;
    text-align: center;
    font-size: 0.8em;
    font-family: Arial, sans-serif;
  }
  .heightcell {
    padding-top: 15px;
  }
  
  div#pageLinks a {font-size:10px; margin: 5px 7px 0;}
  div#pageLinks a:hover {text-decoration:underline;}
  

/* ###############  FOOTER - start - ################  */

        /* td#footer_bg, td#footer_lx_cont, td#footer_rx_cont {
      background-image:url(http://www.fao.org/fileadmin/templates/faohome/images/bg_footer_frame.gif);
      background-repeat: repeat-x; 
  } */
  
  td#footer_lx_cont p.bodytext{padding:0px; margin:0 4px;  line-height:20px;}
  td#footer_rx_cont p.bodytext{margin: 1px; padding: 0px;  line-height:19px; *line-height:16px;}
  
  td#footer_lx_cont, td#footer_rx_cont {background-color:#7792BA;}

  td#footer_lx_cont {padding-left: 5px;}
  td#footer_rx_cont {padding-right: 10px;}

        td#footer_lx_cont p.bodytext, td#footer_lx_cont a, td#footer_rx_cont a {color: #ffffff; font-size: 11px; font-weight: bold;}
        td#footer_lx_cont p.bodytext a:hover, td#footer_rx_cont p.bodytext a:hover {color: #ffffff; text-decoration: underline; font-weight:bold;}
        
/* ###############  FOOTER - end - ################  */       
 
  
  .maincontent {
    padding: 0px 0px 0px 15px;
  }
  .maincontent_home {
    padding: 0px 10px 0px 15px;
  }
  td.maincontent table#updates_box {
    background-color: #f7f7f7;
    padding-bottom: 5px;
    margin-top: 0px;
  }
  td.maincontent table#updates_box td.title_updates {
    background-color:#f6c360;
    font-weight: bold;
    font-size: 0.8em; 
    color: #222222;
    padding: 4px;
    margin-bottom: 0px;
  }
  td.maincontent #challenges_box {
    background-color: #FFF2BF;
    border-bottom: 1px dotted #666666;
    padding-bottom: 5px;
  }
  td.maincontent h1.csc-firstHeader {
    font-weight: bold;
    font-size: 0.9em;
    color: #222222;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  td.newsroom h1.csc-firstHeader {
    font-weight: bold;
    font-size: 1.1em; 
    color: #AF0014;
    padding-bottom: 6px;
    margin-bottom: 0px;
    vertical-align: top;
  }
  td.newsroom h1.csc-firstHeader a{
    color: #AF0014;
  }
  td.newsroom {
    margin-top:0px;
    padding-top:0px;
  }
  td.newsroom_2cols {
    margin-top:0px;
    padding-top:0px;
    padding-right: 10px;
  }
  td.newsroom_2cols h6 {
    color:#B91A20;
    font-size: 1em;
    font-family: Arial, sans-serif;
    margin:0px;
    padding:0px;
    font-weight:bold;
  }
  td.newsroom_2cols p.bodytext {
    font-size: 12px;
    font-family: Arial, sans-serif;
    line-height:19px;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:19px;}
  .contenttable h4 {
    font-weight: bold;
    font-size: 0.9em; 
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  div.h2glance {
    font-size: 0.9em;
  }
  h2.H2info, h2 {
    font-size: 1.1em;
    color: #4269b0;
    padding-top: 2px;
    margin-top: 15px;
    margin-bottom: 2px;
    line-height: 20px;
    font-weight: lighter;
  }
  h2      {font-size: 1em;
    color: #000;
    padding-top: 2px;
    margin-top: 0px;
    margin-bottom: 2px;
    line-height: 20px;
    font-weight: bold;
  }
  h2.red {
    font-family: Arial,sans-serif;
    font-size:1.0em;
    font-weight:bold;
    line-height:normal;
    margin: 20px 0pt 10px;
    color:#B91A20;
  }
  h3.amber {
    font-size:0.9em;
    border-top:10px solid #E1AC1E;
    color:black;
    padding-top:5px;
    margin-top: 0px;
  }
  h3.blue {
    font-size:0.9em;
    border-top:10px solid #1D317E;
    color:black;
    padding-top:5px;
    margin-top: 0px;
  }
  h3.red {
    font-size:0.9em;
    border-top:10px solid #B91A20;
    color:black;
    padding-top:5px;
    margin-top: 0px;
  }
  h4.amber {
    color:#E1AC1E;
    margin-bottom: 0px;
    padding: 0px;
  }
  h4.red {
    color:#B91A20;
    margin-bottom: 0px;  
    padding: 0px;
  }
  h4.blue {
    color:#1D317E;
    margin-bottom: 0px;  
    padding: 0px;
  }
  h4 a{
    text-decoration: none;
    }
  h4 a:hover {
    text-decoration: underline;
  }
  td.newsroom_2cols ul, td.newsroom_2cols ol, td.newsroom ol, td.newsroom ul{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5%;
    margin-left: 0;
    padding-left: 1.5em;
    text-indent: 0em;
  }
  td.newsroom_2cols ul li, td.newsroom_2cols ol li, td.newsroom ol li, td.newsroom ul li  {
    font-size: 0.8em;
    line-height: 19px;
  }
  ul#twrss_table {
    margin-top: 0;
    margin-left: 0;
    margin-right: 5%;  
  }
  li.twrss_bodytext a {
    line-height: 13px;
    font-size: 0.8em;
    color:#004673;
    text-decoration:none;
  }
  li.twrss_bodytext a:hover {
    line-height: 13px;
    font-size: 0.8em;
    color:#af3838;
    text-decoration:none;
  }
  td.mainbar {
    padding: 0 10px 0 0;
    margin: 0px;
    vertical-align:top;
  }
  td.mainbar p.bodytext, td.mainbar p {
    font-family: Arial,sans-serif;
    line-height:1.5em;
  }
  td.maincontent #info_box_top {
    background-image: url(http://www.fao.org/fileadmin/templates/faohome/images/info_box_top.gif);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0.9px;
    height: 4px;
  }
  td.maincontent #info_box {
    background-image: url(images/bg_info_box.gif);
    background-repeatimages/bg_info_box.gifrder-left: 1px solid #0066a8;
    border-right: 1px solid #0066a8;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
  }
  td.maincontent #info_box_bottom {
    background-image: url(http://www.fao.org/fileadmin/templates/faohome/images/info_box_bottom.gif);
    background-repeat: no-repeat;
    background-position: center center;
    font-size:1px;
    height: 4px;
  }
  dd.csc-textpic-caption {
    font-size: 0.8em;
    font-style: italic;
    padding: 2px;
  }
   div.csc-textpic-text {
    margin-top: 0px;
  }
  div.csc-textpic-text p.bodytext{
    font-size: 0.8em;
    padding-left: 2px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  /* ----- the following is for the text of the main news in the FAO home page ---- */
  td.newsroom div.csc-textpic-text p.bodytext{
    font-size: 0.8em;
    line-height: 17px;
    padding-left: 2px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  /* ----- end ---- */
  div.csc-textpic-text h3{
    font-weight: normal;
    font-size: 0.8em;
    color: #4269b0;
    padding: 4px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 15px;
  }
  table.contenttable p.bodytext {
    padding: 5px;
    margin-bottom: 0px;
  }
  td.search {
     border-top: 4px solid #00418A;
     border-bottom: 1px solid #d7dfea;
     background-color:#5079ac;
  }
  td.logo {
    background-image:url(images/bg_logo.gif);
    background-repeat: repeat-x; 
    padding-top: 0px;
    padding-boimages/bg_logo.gif