/* -------- START FOOTER WITH SOCIAL MEDIA 2010 ------- */

td#footer_bg, td#footer_lx_cont, td#footer_rx_cont {
background-color: #7492B8;
background-image: none;
background-repeat:repeat;
}

td#footer_lx_cont p.bodytext a, td#footer_rx_cont p.bodytext a, td#footer_bg p.bodytext a {
font-size:11px;
}

td#footer_lx_cont {
width: 760px;
}

div.follow_us {
display:inline;
float:left;
/*width:500px;*/
margin-top:4px;
margin-left:10px;
}

div.follow_us #follow_us_title {
vertical-align:top;
}

td#footer_bg p.bodytext  {
color: #ffffff;
display:inline;
/*vertical-align:top; with mozilla firefox 3.0.5 do not work */
margin:4px;
}

div#footer_left_high {
border-right: 1px solid #ffffff;
height:150px;
width:156px; float: left; margin-top:4px;
}

div#footer_right_high {
border-left: 1px solid #ffffff;
height:150px;
}

td#footer_rx_cont {
width: 200px;
padding-right:0px;
border-left: 1px solid #ffffff;
}

td#footer_rx_cont p.bodytext {
text-align: left;
margin: 4px 4px 4px 15px;
}

ul#media {
display:inline;
width: 190px;
position:absolute;
}

div#social_media {
display:inline;
}

div#social_media img {
margin:4px 10px 0 5px;
}

/* -------- END FOOTER WITH SOCIAL MEDIA 2010 ------- */