td#navigation div.toc {
	margin-top:0px;
	color:black;
	font:0.45em "Arial",sans-serif;
}
td#navigation div.home{
	margin-bottom:8px;
	border-bottom:1px solid white;
}
td#navigation div.home li a{
	border-bottom:0;
}
td#navigation div.toc ul {
	margin:0;
	padding:0;
}
td#navigation div.toc li {
	font:bold 1.65em/1.2em "Arial",sans-serif;
	list-style:none outside none;
	margin:0;
	padding:0;
}
td#navigation div.toc li li {
	background-color:#E9EEF4;
	font-size:1em;
	padding-left:12px;
	padding-right:0;
}
td#navigation div.toc li.sub{
	font-size:0.95em;
	padding-left:18px;
}
td#navigation div.toc li li a {
	font-weight:normal;
}

td#navigation div.toc a.selected{
	background-color:white;
	border-right:1px solid white !important;
}

td#navigation div.toc li a, td#navigation div.toc li li a {
	color:#00418A;
}

td#navigation div.toc a, td#navigation div.toc span {
	background-color:#E9EEF4;
	border-bottom:1px solid #C5D1E2;
	border-right:1px solid #C5D1E2;
	color:#5580B1;
	display:block;
	padding:4px 6px;
	text-decoration:none;
}

td#navigation div.toc a {
	outline:medium none;
	text-decoration:none;
}
td#navigation div.toc a:hover {
	background-color: #FBFBFB;
}

td#navigation div.toc li.spacer {
	margin-top:-2px;	
	border-top:1px solid #fff;
	padding: 4px 0;	
	font-size:0;		
}

td#navigation div.toc li.spacer div {
	font-size:12px;
	padding: 8px 6px;
}