.bcnv11{
	margin:0 0 12px;
	width:100%;
	padding:0 0 8px;
	background-color:#fff;
}
.bcnv11 a{
	text-decoration:none;
}
.bcnv11 a:hover, .bcnv11 a:focus, .bcnv11 a:active{
	text-decoration:underline;
}
.bcnv11 #zone{
	height:75px;
	background:url('navbg.gif.bcnv11 #zone.main h2 span{
	display:none;
}
.bcnv11 #znewstopics{
	float:right;
	height:59px;
	width:300px;
	overflow:hidden;
	border:1px solid #afafaf;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	
	-moz-box-shadow: -3px 6px 8px rgba(20, 20, 20, 0.3);
	-webkit-box-shadow: -3px 6px 8px rgba(20, 20, 20, 0.3);
	box-shadow: -3px 6px 8px rgba(20, 20, 20, 0.3);
	margin:7px 0 0;
	background-color:#fff;
}
.bcnv11 #znewstopics h3{
	text-transform:uppercase;
	font-weight:normal;
	color:#fff;
	float:left;
	background-color:#e21b22;
	display:inline;
	padding:2px 8px;
	margin:0;
	font-size:0.9em;
}
.bcnv11 #znewstopics ul{
	margin:4px 0 0;
	padding:0;
	float:left;
	clear:left;
	width:100%;
}
.bcnv11 #znewstopics ul li{
	list-style-type:none;
	margin-left:13px;
	padding-left:10px;
	background:#fff url('sprite.gif') no-repeat 0sprite.gif:122px;
	float:left;
	margin-top:1px;
	font-size:0.9em;
}
.bcnv11 #znewstopics ul li a{
	color:#115278;
}
.bcnv11 #zone h2 a{
	width:166px;
	height:0px;
	padding-top:30px;
	float:left;
	overflow:hidden;
	margin-top:28px;
}
.bcnv11 #zone h2 span{
	color:#000;
	font-size:28px;
	margin:29px 0 0;
	padding:0 0 0 8px;
	background:url('sprite.gif') no-repeat -2px -266px;
	float:left;sprite.gif:1em;
}
.bcnv11 .dnone{
	height:0;
	width:0;
	margin:0;
	padding:0;
	overflow:hidden;
	float:left;
	max-width:0;
}
.bcnv11 #zones,.bcnv11 #zbreadcrumb,.bcnv11 #subzones{
	margin:0;
	padding:0;
}
.bcnv11 #zbreadcrumb{
	float:left;
}
.bcnv11 #zones li, .bcnv11 #zbreadcrumb li, .bcnv11 #subzones li{
	list-style-type:none;
	display:inline;
	float:left;
}
.bcnv11 #zones{
	border:1px solid #acacac;
	border-width:0 1px;
	height:36px;
	overflow:hidden;
}
.bcnv11 #zones li{
	padding:10px 0 11px;
	border:1px solid #c0c0c0;
	background:#fff url('sprite.gif') repeat-x 0px -92px;
	border-width:1px 0 0 1px;
}
.bcnv11 #zsprite.gifnone;
}
.bcnv11 #zones li.dnone{
	display:none;
}

#breadcrumbnav.bcnv11 #zones li.lright{
	border-right:1px solid #acacac;
}

.bcnv11 #zones li.zright{
	border-right:1px solid #acacac;
	background:url('sprite.gif') repeat-x 0px -319px;
}
.bcnv11 #zones li.zright.last{
	background:url('sprite.gif')sprite.gif
	display:block;
}
.bcnv11 #zones li.zright:hover{
	background:url('spritesprite.gifv11 #zones li.zright.last:hover{
	background:url('sprite.gif') repeat-x 0px -587px;
}
.bcnv11 #zones li.sprite.giflid #acacac;
	border-right:none;
}
.bcnv11 #zones li.extend{
	padding:10px 1px;
sprite.gifkground:none;
}
.bcnv11 #zones li a{
	padding:9px 15px;
	color:#115278;
}
.bcnv11 #zones li:first-child a{
	padding-right:15px;
	background:none;
}
.bcnv11 #zones li.current,.bcnv11 #zones li.current:hover{
	background:#fff;
	border-top:5px solid #e21b22;
	padding:6px 0 11px;
}
.bcnv11 #zones li:hover{
	background:#fff url('sprite.gif') repeat-x 0px -370px;
}
.bcnv11 #subnav{
	border:1px solid #acacac;
	border-top:none;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-bordesprite.giforder-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.bcnv11 #subzones, .bcnv11 #zbreadcrumb li{
	padding-top:5px;
	padding-bottom:6px;
}
.bcnv11 #zbreadcrumb li a{
	padding:5px 0;
}
.bcnv11 #subzones li a{
	margin:10px 0;
	padding:0 7px;
	color:#115278;
}
.bcnv11 #subzones li.subright {
	float: right;
}
.bcnv11 #zbreadcrumb li{
	background:url('sprite.gif') no-repeat 0px -62px;
	padding-left:12px;
	margin-left:-4px;
}
.bcnv11 #zbreadcrumb li:first-child{
	margin-left:0;
}
.bcnv11 #zbreadcrumb li a{
	background:#fff url('sprite.gif') no-repeat right -34px;
	sprite.gif
.bcnv11 #zbreadcrumb li.last a{
	background-position:right -507px;
	padding-right:8px;
}
.bcnv11 #zbreadcrumb li.level1{
	background:#fff url('sprite.gif') no-repeat -1sprite.gifng-left:4px;
}
.bcnv11 #zbreadcrumb li.level1.last{
	background-position:left -207px;
}
.bcnv11 #zbreadcrumb li.level1.last a{
	background-position:right -473px;
	padding-right:8px;
}
.bcnv11 #zbreadcrumb sprite.gif'sprite.gif') no-repeat right -5px;
	padding-left:6px;
} 