@charset "UTF-8";

#popquiz .loader_graphic {background:url(../../common/i/content/ajax_loader.gif) no-repeat;width:24px;height:24px;margin:40px 74px;}

#popquiz_sponsor {width:150px;height:30px;float:right;}
#popquiz_sponsor img {border:none;}

#popquiz {position:relative;}
#popquiz h4 {color:#000;font-size:12px;font-weight:bold;}

#popquiz #user_info {text-align:right;font-size:10px;font-weight:bold;}
#popquiz #user_info #logged_in {margin-bottom:5px;margin-top:-35px;}
#popquiz #user_info #not_logged_in {margin-bottom:15px;margin-top:-30px;}
#popquiz #user_info p {color:#000;}
#popquiz #user_info a {color:#333;text-decoration:none;}
#popquiz #user_info a:hover {color:#666;}

#popquiz #quiz_help_btn {position:absolute;z-index:2;left:274px;}
#popquiz #quiz_help_btn a {display:block;width:28px;height:28px;text-decoration:none;outline:none;background:url(../i/presentation/popquiz-sprite.png) no-repeat -225px 0;}
#popquiz #quiz_help_btn a:hover {background:url(../i/presentation/popquiz-sprite.png) no-repeat -254px 0;}

#popquiz #quiz_help_panel {position:absolute;z-index:3;padding:20px;background:url(../i/presentation/helpbg.png);display:none;}
#popquiz #quiz_help_panel .inner_box {padding:15px 15px 0 15px;border:1px solid #333;background-color:#FFF;}
#popquiz #quiz_help_panel .inner_box p {color:#000;padding-bottom:15px;}
#popquiz #quiz_help_panel .inner_box .close_btn {padding-bottom:25px;}
#popquiz #quiz_help_panel .inner_box .close_btn a {float:right;color:#999;text-decoration:none;font-weight:bold;}
#popquiz #quiz_help_panel .inner_box .close_btn a:hover {color:#333}

#popquiz #popquiz_body {border:1px solid #d5d5d5;padding:15px;}

#popquiz #question_nav {float:left;}

#popquiz #question_nav p {background:url(../i/presentation/popquiz-sprite.png) no-repeat 0 0;width:30px;height:33px;color:#FFF;font-size:26px;padding:7px 10px 10px;text-align:center;}

#popquiz #question_nav .arrows {margin-top:5px;}

#popquiz #question_nav a {width:12px;height:15px;text-decoration:none;outline:none;}
#popquiz #question_nav a:active {outline: none;}

#popquiz #question_nav #next_question {background:url(../i/presentation/popquiz-sprite.png) no-repeat -75px -22px;margin-left:9px;}
#popquiz #question_nav #next_question:hover {background:url(../i/presentation/popquiz-sprite.png) no-repeat -75px -5px;}

#popquiz #question_nav #prev_question {background:url(../i/presentation/popquiz-sprite.png) no-repeat -56px -22px;margin-left:8px;margin-right:5px;}
#popquiz #question_nav #prev_question:hover {background:url(../i/presentation/popquiz-sprite.png) no-repeat -56px -5px;margin-left:8px;}

#popquiz #question_body {float:left;width:200px;margin-left:15px;margin-top:5px;}

#popquiz #question_body p {color:#000;}

#popquiz #question_body li {margin-top:10px;}

#popquiz #question_body li a {background:url(../i/presentation/popquiz-sprite.png) no-repeat -285px -20px;padding-left:18px;color:#000;text-decoration:none;outline: none;}
#popquiz #question_body li a:hover {color:#044E8E;}
#popquiz #question_body li a:active {outline: none;}

#popquiz #question_body li a.selected {background:url(../i/presentation/popquiz-sprite.png) no-repeat -285px -3px;padding-left:18px;color:#044E8E;text-decoration:none;}

#popquiz #need_answer p {color:#ce0018;font-size:11px;font-weight:bold;padding:5px 0;}

#popquiz #quiz_submit_btn {clear:both;}
#popquiz #quiz_submit_btn a {background:url(../i/presentation/popquiz-sprite.png) no-repeat 0 -53px;display:block;width:299px;height:31px;text-decoration:none;outline:none;}

#popquiz #answer_body {float:left;width:200px;margin:5px 0 10px 15px;}

#popquiz #answer_body p {color:#000;}
#popquiz #answer_body p.answer p {padding-bottom:5px;}

#popquiz #answer_body h4 {color:#000;font-size:14px;float:left;padding-right:10px;}
#popquiz span {display:block;width:26px;height:26px;float:left;margin-right:5px;}
#popquiz span.correct {background:url(../i/presentation/popquiz-sprite.png) no-repeat -95px -5px;}
#popquiz span.incorrect {background:url(../i/presentation/popquiz-sprite.png) no-repeat -127px -5px;}
#popquiz #answer_body .result span {margin-top:5px;}

#popquiz #user_score {margin-top:5px;}

#popquiz #user_score p {color:#000;font-size:14px;padding-left:2px;}

#popquiz #user_score .stars li {float:left;margin-top:8px;}
#popquiz #user_score .stars span {display:block;width:24px;height:23px;margin:0;}
#popquiz #user_score .stars .empty {background:url(../i/presentation/popquiz-sprite.png) no-repeat -150px -4px;}
#popquiz #user_score .stars .half {background:url(../i/presentation/popquiz-sprite.png) no-repeat -173px -4px;}
#popquiz #user_score .stars .full {background:url(../i/presentation/popquiz-sprite.png) no-repeat -197px -4px;}

#popquiz #answer_links a {padding:5px 0 5px 2px;}
#popquiz #answer_links p {padding:5px 0 5px 2px;color:#000;}

#popquiz #prev_questions_btn {clear:both;}
#popquiz #prev_questions_btn a {background:url(../i/presentation/popquiz-sprite.png) no-repeat 0 -86px;display:block;width:299px;height:31px;text-decoration:none;}

#popquiz #prev_questions {border:1px solid #d5d5d5;padding:15px;position:relative;}

#popquiz #prev_questions h4 {font-size:14px;padding-bottom:35px;}
#popquiz #prev_questions h4 a {color:#044E8E;font-size:12px;font-weight:normal;padding-top:3px;padding-left:40px;}
#popquiz #prev_questions h4 a:hover {text-decoration:underline;}

#popquiz #prev_questions #question_tabs {position:absolute;left:15px;top:49px;}
#popquiz #prev_questions #question_tabs.unanswered {background:url(../i/presentation/popquiz-sprite.png) no-repeat 0 -116px;width:118px;}
#popquiz #prev_questions #question_tabs.all {background:url(../i/presentation/popquiz-sprite.png) no-repeat -124px -116px;width:118px;}
#popquiz #prev_questions #question_tabs a {display:block;height:25px;float:left;text-decoration:none;outline:none;}
#popquiz #prev_questions #question_tabs a.tab1 {width:90px;}
#popquiz #prev_questions #question_tabs a.tab2 {width:28px;}

#popquiz #prev_questions #questions_box {border:1px solid #d5d5d5;overflow:auto;max-height:230px;padding:10px;clear:both;}

#popquiz #prev_questions p {color:#000;font-size:12px;}

#popquiz #prev_questions .number {float:left;}
#popquiz #prev_questions .number p {background:url(../i/presentation/popquiz-sprite.png) no-repeat -151px -27px;width:14px;height:14px;color:#FFF;font-size:12px;padding:3px 5px 5px;text-align:center;}
#popquiz #prev_questions .question {float:left;padding-left:10px;width:195px;}
#popquiz #prev_questions .result a {padding-left:35px;}
#popquiz #prev_questions .result p {padding-top:5px;}
#popquiz #prev_questions span.incorrect {margin-top:10px;}

#popquiz #prev_questions #prev_quizzes {padding-top:15px;}
#popquiz #prev_questions #prev_quizzes h4 {padding-bottom:5px;}
#popquiz #prev_questions #prev_quizzes ul {padding-left:12px;}
#popquiz #prev_questions #prev_quizzes ul li {padding: 5px 0;margin:0;list-style-type:disc;}
#popquiz #prev_questions #prev_quizzes p {color:#666;font-size:10px;}
#popquiz #prev_questions #prev_quizzes a {font-size:12px;}

#popquiz #more_links {margin-top:5px;float:left;}
#popquiz #more_links p {color:#000;}
#popquiz #more_links a {color:#333;text-decoration:none;font-size:10px;font-weight:bold;outline: none;}
#popquiz #more_links a:hover {color:#666;outline: none;}