/*Exceptions to ahaCore.css*/
/*body {
	background-color: #A6E3FF;
}*/


/*body #headerWrapper {
	background: transparent url(../images/ahahome/header_design_06.png) repeat-x scroll 10% top !important;

}*/

body #headerWrapper .headerDesign {
	/*background: transparent url(../images/ahahome/header_design_05.png) no-repeat scroll center top !important;*/
}

/*.linkLocal a, .linkLanguages a {
	border-right: 1px solid #5d5d5d;
}*/


/*#wrapper {
	overflow: hidden;
	background: #a6e3ff url(../images/ahahome/bg_v9_tile.jpg) repeat-x scroll left bottom !important;
}*/


.content_wrapper .widgets_container_article .widget_rightcontainer {
	background: #fff;
}

.ahalogo {
		/*background: transparent url(../images/ahahome/aha_logo_home_blk2.png) no-repeat scroll center top !important;*/
		width: 300px;
		height: 126px;
		text-indent: -99999px;
		margin: 0 auto;
}

/* Donate button
---------------------------------------------

.ahabuttondonate {
background:transparent none repeat scroll 0 0;
display:inline;
height:27px;
left:446px;
line-height:27px;
position:relative;
top:33px;	
z-index: 9999;
}

.ahabuttondonate a{
text-decoration: none;
color: #EAEAEA;
text-transform: uppercase;
}

.ahabuttondonate a:hover{
text-decoration: none;
color: #FFF;

}

-------------------- */

/*-------------------------*/

/*.topnavdonate {
	background:#ED1C24 none repeat scroll 0 0;
	border:1px solid #5D5D5D;
	color:#FFFFFF;
	cursor:pointer;
	display:block;
	height:12px;
	line-height:12px;
	margin-top:2px;
	min-width:55px;
	padding:4px 15px;
	text-align:center;
	top:0;
	width:55px;
}


h4 {

}*/



.content_wrapper #ahatabs .ui-tabs-panel {
background:none repeat scroll 0 0 #f1f1f1;
border-width:0;
display:block;
padding:0;
}

.ui-widget-header {
	background: none !important;
}


.forhomenav {
	color: #5d5d5d;
	text-decoration: none;
	text-transform: lowercase;
	vertical-align: super;
}

.floatleft {
	float: left;
	position: relative;
	border: none 0;
	margin: 0 auto;
	margin-left: 10px;
	margin-top: 10px;
}

#lang {
	border-right:1px solid #EAEAEA;
	float:left;
	height:27px;
	padding:0 10px;
	
}

.textlanguagegrey, .textlanguageblue {
	font-size: .80em;
}

.textlanguageblue {
	color: #439cd2;
}

.floatright {
	clear: none;
	float: right;
	position: relative;
	margin: 0 auto;
	border: 0;
}

#TagCloud {
	display: block;
	text-align: center;
	padding: 10px;
	width: 900px;
	margin: 0 10px;
}

#TagCloud a {
	color: #5d5d5d;
	text-decoration: none;
}

#TagCloud a:hover{
	color: #3B9BDD;
	text-decoration: underline;
}

.floatright ul li a {
	text-decoration: none;
	height: 20px;
	line-height: 20px;
}

.floatright ul li a:hover span {
	color: #5d5d5d;

}

.floatright ul li .ahabuttondonate a:hover span {
	color: #fff;

}

.fontblue {
	color: #3B9BDD;
	cursor: pointer;
	font-weight: bold;
	padding: 0 0px;
	text-decoration: none;
	text-transform: uppercase;
	width: auto;
}


.floatright ul li a:hover span.topnavdonate:hover {
	color: #fff;
	background: #5d5d5d;
}


#topnavdivider {
	clear: both;
	position: relative;
	width: 100%;
	height: 6px;
	margin: 0;
	min-height: 6px;
	background: url(http://static.heart.org/ahaanywhere/images/topnav_bottomborder.gif) repeat-x;
	border: 0;
}

/* Content Wrapper */

.content_wrapper {
	background: transparent !important;
	position: relative;
}

.logoSearchWrapper{
position: relative;
padding: 0 0 75px 0;
}



/* Search */

/* Search container */

.homesearch {
	overflow: hidden;
	text-align: left;
	width: 577px;
	height: 97px;
	/* margin: 60px auto 40px; */
	position: relative;
	top: 33px;
	left: 191px;
}

.homesearchinput {
	background:transparent none repeat scroll 0 50%;
border:0 none transparent;
color:#999999;
float:left;
font-size:1.3em;
height:30px;
left:16px;
line-height:30px;
margin:13px 15px 0 0;
*margin: 10px 15px 0 0 !important;
padding-bottom:15px;
padding-top:21px;
position:relative;
text-decoration:none;
top:0;
vertical-align:middle;
width:410px;
}

.homesearch input:focus {
	outline: none;
}

.homesearch button {
	float: left;
	position: relative;
	background: transparent url(../images/ahahome/searchbutton.gif) no-repeat scroll 0 0;
	padding: 0;
	cursor: pointer;
	margin-left: 18px;
	margin-top: 11px;
	height: 72px;
	overflow: hidden;
	width: 117px;
	top: 0px;
	left: 0px;
	outline: none;
	border: transparent 0;
	color: #5d5d5d;
}

.homesearch button:focus {
	outline: none;
}

.homesearch button:hover {
	background-position:  0 -72px;
	color: #fff;
}

.homesearch button span {
	font-size: 21px;
	border: none 0;
	margin: auto auto;
	top: 25px;
}

#searchContainer {
	width: 577px;
}

/* My Comment */

/* Widgets */

#widgetscontainer ul#widgets {
	width: 940px;
	height: 180px;
	position: relative;
	top: 75px;
	cursor: pointer;
	list-style-type: none;
	list-style-position: outside;
	margin: 0px auto;
	padding: 0px;
	border: transparent 0;
	overflow: hidden;
	background: transparent 0;
	left: 5px;
	border: transparent 0;
}

#widgetscontainer ul#widgets li {
	display: block;
	float: left;
	border: transparent 0;
	width: 300px;
	height: 177px;
	margin: 0px 5px;
	background: #801418;
	border: transparent 0;
	overflow: hidden;
}

#widgetscontainer ul#widgets li a {
	margin: 0 auto;
	color: #fff;
	padding: 0px;
	cursor: pointer;
	text-decoration: none;
}

#widgetscontainer ul#widgets li a:link, a:visited {
	/*text-decoration: none;*/
}

#widgetscontainer ul#widgets li a:hover, a:active {
	text-decoration: none;
}

#widgetscontainer ul#widgets li div.widgetcontentcontainer {
	width: 280px;
	/* widget content size */
	height: 156px;
	min-height: 156px;
	min-width: 280px;
	background: #fff;
	overflow: hidden;
	border: transparent 0;
	margin: 10px 10px;
	padding: 0px;
	position: relative;
	display: block;
}

#widgetscontainer ul#widgets div.start {
	background: url(http://static.heart.org/ahaanywhere/images/widget_start.gif) no-repeat top center;
}

#widgetscontainer ul#widgets div.igoogle {
	background: url(http://static.heart.org/ahaanywhere/images/widget_igoogle.gif) no-repeat top center;
}

#widgetscontainer ul#widgets div.youtube {
	background: url(http://static.heart.org/ahaanywhere/images/widget_youtube.gif) no-repeat top center;
}

#widgetscontainer ul#widgets div.gored {
	background: url(http://static.heart.org/ahaanywhere/images/widget_gored.gif) no-repeat top center;
}

#widgetscontainer ul#widgets li div.widgetcontentcontainer div#caption_igoogle {
	width: 100%;
	height: 50px;
	min-height: 50px;
	text-align: center;
	background: #4c4c4c;
	margin: 0 auto;
	padding: 10px 0px;
	display: block;
	position: relative;
	top: -55px;
	left: 0;
	line-height: normal;
	vertical-align: middle;
	border: transparent 0;
}

#widgetscontainer ul#widgets li div#caption_youtube {
	width: 100%;
	height: 30px;
	min-height: 30px;
	text-align: center;
	background: #4c4c4c;
	margin: 0 auto;
	padding: 0px 0px;
	position: relative;
	top: -30px;
	left: 0;
	line-height: 30px;
	vertical-align: middle;
}

#widgetscontainer ul#widgets li img {
	margin: 0 auto;
	padding: 0px;
	margin: 0px;
	position: relative;
	top: 0;
	left: 0;
}


/* AHA Tabs Wrapper */

.ahatabscontainer {
	background: transparent url(../../../media.americanheart.org/vod/media/aha/mocks/ahaanywhere/final2/templates/css/custom-theme/images/ui-bg_diagonals-medium_55_eaeaea_40x40.png) repeat scroll 0 0;
	height:auto;
margin:0 auto;
min-width:940px;
overflow:hidden;
position:relative;
width:940px;
}

.tabs {
	text-align: left;
	/*text alignment*/
	width: 940px;
	height: auto;
	margin: 0 auto;
	padding: 0;
	/*for content*/
	background: transparent 0;
}

.tabs a {
	color: #5d5d5d;
	text-decoration: none;
}

.tabs a:hover {
	color: #fff;
}

.firstitem {
	/*border-top: 1px solid #5D5D5D;*/	
}

/*.warningsigns {
	background:transparent url(http://media.americanheart.org/vod/media/aha/mocks/ahaanywhere/final2/templates/css/custom-theme/images/ui-bg_diagonals-medium_55_630000_40x40.png) repeat scroll 0 0 !important;
	border: 1px solid #5D5D5D;
	color:#5d5d5d;
	position: relative;
	float: right;
	margin: 0 auto;
	width: 169px;
	height: 30px;
	color: #fff;
	right: 6px;
	top: 4px;
	display: block;
	line-height: 30px;
	height: 30px;
	text-align: center;
	cursor: pointer;
	z-index: 200;
}

.warningsigns:hover {
	background:#eaeaea none repeat scroll 0 0;
	color: #ccc;
}
*/

/* Sign up button
---------------------------------------------*/

.ahabutton {
		position: relative;
	float: right;
	width: 169px;
	margin-right: 10px;
}


.ahabutton h4 a {
	background: transparent url(../../../media.americanheart.org/vod/media/aha/mocks/ahaanywhere/final2/templates/css/custom-theme/images/ui-bg_diagonals-medium_55_630000_40x40.png) repeat scroll 0 0;
	display:block;
	margin: 0 auto;
	border: 0 none;
	height: 30px;
	line-height: 30px;
	margin: 0px;
	
}

.ahabutton h4 a:hover {
	background: #5d5d5d no-repeat scroll 0 0;
		text-decoration: none;

}



.ahabutton h4, .ahabutton h4 a {
	height:32px;
	text-align: center;
	text-decoration: none;
}

.ahabutton h4 {
	margin:6px 0;
}


.ahabutton h4 a span {
	color:#fff;
	font-size: 14px;
	left:0px;
	margin: 0 auto;
	display: block;
	line-height: 32px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}


/* AHA Home Main Tabs */
#ahatabs{
margin: 0 10px;
/*background: #FFF;*/
padding: 0;
position: relative;
}


/* Heading */
#ahatabs ul{

}

#ahatabs .ui-tabs-nav{
padding: 0 !important;
}

#ahatabs .ui-widget-header {
border: 0;
/*background: #efefef !important;*/
}

#ahatabs .ui-helper-reset {
line-height: normal;
}

#ahatabs .ui-tabs-nav{
/* padding: 5px; */
}

#ahatabs .ui-tabs-nav li{
/*margin: 0 20px 0 0;*/ /*spacing between the tab*/
border: none;
/*
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
*/

}


/*tab active*/
#ahatabs ul li.ui-state-active, #ahatabs ul .ui-state-active, #ahatabs ul .ui-widget-content .ui-state-active {
    font-size: 14px;
    font-weight: normal;
    }

/* Tabs Selected */
#ahatabs .ui-tabs-nav li.ui-tabs-selected {
background: #f1f1f1 !important;
}

/* Tabs Default State */
#ahatabs ul li.ui-state-default, #ahatabs ul li.ui-widget-content #ahatabs ul li.ui-state-default, #heartEncyclopedia  {
background: #eaeaea !important;
color: #5D5D5D;
font-size: 14px;
font-weight: normal;
}

#heartEncyclopedia {
	float: right;
	margin: 0 .2em -1px 0;
	color: #5d5d5d;

	/*background: #C4272B none repeat scroll 0 0;*/
	color: #5d5d5d;
	cursor: pointer;
	display: block;
	font-size: 14px;
	padding: 7px 10px;
	position: absolute;
	right: 141px;
	text-decoration: none;
	top: 0;
	z-index: 9998;
	/*text-shadow: 0 1px 0 #5D5D5D;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;*/
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	}


/* Tabs Hover */
#ahatabs ul li.ui-state-hover{
background: #c1c1c1 !important;
/*color: #fff;*/
}






/* Default Tabs Links*/
#ahatabs ul li.ui-state-default a, #ahatabs ul li.ui-state-default a:link, #ahatabs ul li.ui-state-default a:visited {
color: #5d5d5d;
}

/* Tabs Hover Links */
#ahatabs ul li.ui-state-hover a{
display: block;

}

/* Active Tabs Links*/
#ahatabs ul li.ui-state-active a, #ahatabs ul li.ui-state-active a:link, #ahatabs ul li.ui-state-active a:visited {
color: #D41017;
}


/* The Warning Sign */
#theWarningSign{
background:#C4272B none repeat scroll 0 0;
color:#F5F5F5;
cursor:pointer;
display:block;
font-size:14px;
padding:7px 10px;
position:absolute;
right:0;
text-decoration:none;
top:0;
z-index:9998;
text-shadow: 0 1px 0 #5D5D5D;

-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;

}

#theWarningSign a{
text-transform: uppercase;
color: #5d5d5d;
text-decoration: none;
cursor: pointer;
}

#theWarningSign a:hover{
background:#5d5d5d none repeat scroll 0 0;
}


/* List Style */
#ahatabs ol {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
padding: 5px;
margin: 0;
}

#ahatabs ol li{
border-bottom: 1px solid #eaeaea;
/*background: #fff;*/
}

#ahatabs li div.listcontent{
/* margin: 0; */
padding: 0;
}

#ahatabs li div.listcontent a{
text-decoration: none;
color: #5D5D5D;
font-size: 14px;
cursor: pointer;
display: block;
}

#ahatabs li div.listcontent a:hover{
text-decoration: none;
color: #3b9bdd;
background: #eaeaea;
}


#ahatabs .firstitem{
border: none;
}


/* List Numbering */
#ahatabs .numberitem{
display: block;
margin: 2px;
padding: 5px;
vertical-align: top;
width: 1%;
float: left;
color: #C1C1C1;
font-size: 17px;
font-weight: bold;
}

#ahatabs p.itemtitle{
display: block;
width: 840px;
margin: 5px;
padding: 5px;
float: left;
}

#ahatabs p.itemtitle img{
float: left;
margin: 0 10px 0 0;
}

.clearit{
clear: both;
}


/* End AHA Home Main Tabs */

/*Nav*/
/*.width960 {
margin:0 auto;
overflow:visible;
width:960px;
}*/

#navWrapper {
background: #fff;
}

.navDesign {
	/*background: url("../images/ahahome/nav_design_05.png") no-repeat scroll center center transparent !important;
	overflow:hidden;
	border: 1px solid #000;*/
}


/*#ahahomepage ul.infoList{
	margin: 0 0 0 15px;
}*/

/*#ahahomepage ul.infoList li a, #ahahomepage ul.orgList li a {
	color: #fff;
}*/

/*#ahahomepage ul.infoList li a:hover, #ahahomepage ul.orgList li a:hover {
	color: #eaeaea !important;
}*/

/*#ahahomepage ul.infoList li a span, #ahahomepage ul.orgList li a span {
	border: 0 none;
	text-shadow: 0 1px 0 #5D5D5D;
}*/


/*OrgList*/

/*#ahahomepage ul.orgList {
background: transparent none;
margin: 0 5px 0 0;
padding:0 10px;
-moz-border-radius:0;
border-left:1px solid #C1C1C1;
}*/







/*Footer*/

#footer_wrapper {
	/*color: #ccc !important;*/

}

/*

#footer_wrapper #footer_buff ul li a, #footer_wrapper #footer_buff ul ol span a {
	 color: #5d5d5d; 
}

p.legal a {
	color: #5d5d5d;	
}

.about, .sites, .causes, .contact {
	border-left: 1px solid #c1c1c1;
}*/
