@charset "UTF-8";
/* CSS Document */

.lbmlist {
	font-family:Arial, Helvetica, sans-serif;	
	color:#222222;
	margin-left:0px !important;
	padding-left:17px !important;
	line-height: 15px;
}

.lbmlist li {
	list-style-type:none !important;
	margin-top:0em !important;	
	margin-bottom:.5em !important;
	margin-left: -15px !important;
	background:url(../images/lbm_bullet1.gif) 2px 4px no-repeat;
	padding-left:15px;
}

.lbmlist ul {
	margin-top:.5em !important;
	margin-bottom:0em !important;
	padding-top:0em;
	padding-bottom:0em;
	padding-left:18px !important;
}

.lbmlist ul li {
	list-style-type:none !important;
	margin-top:0em !important;	
	margin-bottom:.5em !important;
	margin-left: -15px !important;
	background:url(../images/lbm_bullet2.gif) 2px 4px no-repeat;
	padding-left:15px;
}

.lbmlist ul ul {
	margin-top:.5em !important;
	margin-bottom:0em !important;
	padding-top:0em;
	padding-bottom:0em;
	padding-left:18px !important;
}

.lbmlist ul ul li {
	list-style-type:none !important;
	margin-top:.0em !important;	
	margin-bottom:.3em !important;
	margin-left: -15px !important;
	background:url(../images/lbm_bullet3.gif) 2px 4px no-repeat;
	padding-left:15px;
}

.greenBg li {
	background:url(../images/lbm_bullet1_green_bg.gif) 2px 4px no-repeat;	
}

.greenBg ul li {
	background:url(../images/lbm_bullet2_green_bg.gif) 2px 4px no-repeat;	
}

.greenBg ul ul li {
	background:url(../images/lbm_bullet3_green_bg.gif) 2px 4px no-repeat;	
}

.lbmBlueTitle {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:14px;
	font-weight: bold;
	color:#6f92c6;
}