/* Promo Groups */
.promogrp {
	margin: 0;
	padding-bottom: 5px;
}

.promo div p {
	color: #000;
}

.promo.lrg {
	width: 300px;
	height: 115px;
	float: left;
	display: inline;
}

.promo.lrg img,
.promo.lrg .flag {
	float: left;
	display: inline;
}

.promo.lrg h3 {
	margin: 0;
	border: none;
}

.promo.lrg .flag {
	display: block;
	clear: left;
	width: 128px;
	padding: 0 0 0 10px;
	margin: 0;
	font-weight: bold;
}

.promo.lrg div {
	margin: 0 0 0 160px;
}
/* PD Additions  */
.promogrp .promos .promo h3 {
	border: 0;
}

.promogrp .promos .promo h3 a,
.promogrp .promos .promo h3 a:link,
.promogrp .promos .promo h3 a img,
.promogrp .promos .promo h3 a:focus span.flag,
.promogrp .promos .promo h3 a:focus strong.headline,
.promogrp .promos .promo h3 a:focus span.synopsis,
.promogrp .promos .promo h3 a:hover span.flag,
.promogrp .promos .promo h3 a:focus strong.headline,
.promogrp .promos .promo h3 a:hover span.synopsis {
	text-decoration: none;
	cursor: pointer;
}

.promos .promo {
	float: left;
	display: inline;
	overflow: hidden;
}

.promo.med img,.promo.lrg img {
	height: 80px;
	width: 140px;
}

.promogrp .promos .promo.lrg span.flag,
.promogrp .promos .promo.med span.flag,
.promogrp .promos .promo.sml span.flag {
	background: #000;
	color: #9DD0EA;
	display: block;
	font-size: 11px;
	font-weight: bold;
	margin: 0;
	padding: 2px 2px 2px 10px;
	width: 128px;
	position: relative;
	text-transform: uppercase;
	border-right: 0px;
}

.promogrp .promos .promo.sml span.flag {
	top: 0;
}

.promogrp .promos .promo.lrg span.flag {
	position: relative;
	top: 0;
}

.promogrp .promos .promo.med strong,
.promogrp .promos .promo.sml strong {
	padding: 10px 0;
	display: inline-block;
	font-size: 12px;
}

.promogrp .promos .promo.med span.synopsis,
.promogrp .promos .promo.sml span.synopsis {
	font-size: 12px;
	padding: 0;
	margin: 0;
	color: #000;
	font-weight: normal;
	display: inline-block;
}

.promogrp .promos .promo.med span.synopsis {
	display: none;
}

.promo.med,.promo.sml {
	width: 160px;
}

.promogrp .promos .promo.sml img {
	display: none;
}

.promogrp .promos .promo.med .span {
	width: 140px;
}

.promogrp .promos  .promo.med .strong {
	width: 140px;
	font-weight: normal;
}

.promogrp .promos  .promo.med .synopsis {
	width: 140px;
	display: inline;
	font-weight: normal;
	color: #000;
}

.promogrp .promos .promo.lrg .flag.live,
.promogrp .promos .promo.med .flag.live {
	background: #F7CC31;
	color: #000;
}

.promogrp .promos  .promo.lrg .strong {
	font-weight: bold;
}

.promogrp .promos  .promo.lrg .headline {
	display: block;
	padding: 0 10px 4px;
	margin-left: 140px;
	font-weight: bold;
}

.promogrp .promos  .promo.lrg .synopsis {
	color: #000;
	font-weight: normal;
	position: relative;
	left: 10px;
	display: inline-block;
	width: 150px;
}

.promogrp .promos  .promo.med .synopsis {
	display: none;
}

.promogrp .promos  .promo.lrg h3 a {
	text-decoration: none;
	font-size: 12px;
}

.promogrp .promos .promo h3 a:hover strong.headline,
.promogrp .promos .promo h3 a:focus strong.headline,
.promogrp .promos .promo h3 a:hover span.synopsis,
.promogrp .promos .promo h3 a:focus span.synopsis {
	text-decoration: underline;
}
#content .promo h3 a, #content .promo h3 a:link, #content .promo h3 a:visited {
	text-decoration: none;
}

.promogrp h2,
.featured .promogrp h2 {
	border-top: 5px solid #C4C4C4;
	padding: 10px 0 5px 0;
	font-size: 14px;
}

.notitle .promogrp h2 {
	border-top: 0;
	padding: 0px;
}

#right .promogrp h3,
.promogrp h3 {
	margin: 0;
	padding: 10px 0 0;
}
#right .promo.lrg:last-child {
	margin: 0;
}
#right .promo.lrg {
	margin: 0;
}
#right .promogrp .promos .promo.lrg h3 a {
	width: 300px;
	height: 115px;
	zoom: 1;
}

.full > .promogrp .promo.lrg {
	padding-right: 13px;
}

.full .featured {
	background: #fff;
}

.full #left .featured {
	margin: 0;
	padding: 0;
	background: #eee;
	position: relative;
	margin-bottom: 10px;
}

.full #left .featured .promogrp h2 {
	padding: 10px;
}

.full .featured .promogrp h2 {
	padding: 10px 0;
}

.full .featured .promogrp h2 .promo.lrg {
	margin-left: 0px;
}
#left .featured .promogrp .promo.lrg {
	border-bottom: 1px solid #C4C4C4;
	width: 275px;
	margin-bottom: 15px;
	margin-left: 13px;
	padding-bottom: 5px;
}

.full .featured .promogrp .promo.lrg {
	border: 0;
	margin-bottom: 0;
}
#left .featured .promogrp .promo.lrg .synopsis {
	width: 125px;
}

.featured .promogrp .promo.lrg .synopsis {
	width: 150px;
}

/* gang styles */
.promogrp-gang .promogrp {
	float: left;
	width: 140px;
}

.twothird .promogrp .promos .promo.lrg {
	margin: 0 10px 0 0;
}

.promogrp-gang .promogrp:first-child {
	padding-right: 20px;
}

.promogrp-gang h2 {
	font-size: 14px;
	padding-bottom: 5px;
}

.promogrp-gang h2,
.promogrp-gang .promo.sml,
.promogrp-gang .promo.med,
.promogrp-gang .promo.lrg {
	width: 140px;
}

.promogrp-gang .promogrp .promos .promo.med span.flag {
	position: relative;
	top: -4px;
}

.promogrp-gang .promo .headline {
	height: 40px;
	overflow: hidden;
}

.topHeadlines li.hd2, .topHeadlines li.hd3 {
	border-bottom: 0;
}
#content .full > .promogrp {
	margin: 5px 10px;
}

.full > .promogrp h2 {
	padding-bottom: 5px;
}

.promogrp-gang.custom .promogrp .promos  .promo.med .flag {
	display: none;
}

.promogrp-gang.custom .promogrp .promos  .promo.med .headline {
	font-size: 14px;
}

.promogrp-gang.custom .promogrp .promos  .promo.med .synopsis {
	display: inline-block;
}

.custom .promogrp h2 {
	padding-top: 0;
}

.promogrp-gang.custom .promo .headline {
	height: inherit;
}
