/*$Id: navigation.css 90303 2012-03-06 22:12:21Z lpierfelice $
/css/0.1/screen/homepage/navigation.css 
(c)2006 - 2008 The New York Times Company */    

.navigationHomeEdition {
  padding: 5px 4px;
  background: #faf9dc;
}

.switchEditions {
  margin: 0;
  font-family: arial, helvetica, sans-serif;
  font-size: 1.1em;
  line-height: 1.182em; /* 13px */
}

.switchEditions img {
  vertical-align: middle;
}

.navigationHomeLede {
  background: #e6eff8;
  padding: 4px;
  border-top: 1px solid #d3d3d3; 
  border-bottom: 1px solid #d3d3d3;
}

.navigationHomeLede .featured li {
  margin-bottom: 3px;
  font-size: .9em;
  line-height: 1.223em; /* 11px */    
  font-family: arial, helvetica, sans-serif;
  color: #333;
  text-transform: uppercase;
}

.navigationHome ul,
.navigationHomeLede ul {
  margin: 0;
}

.navigationHome .primary li {
	margin: 0 0 4px 0;
	color: #000;
	font-size: 1.1em;
	line-height: 1.182em; /* 13px */
	text-transform: uppercase;
}

.navigationHome ul li.last, /* remove once lastItem is on prod */
.navigationHomeLede ul li.last, /* remove once lastItem is on prod */ 
.navigationHome ul li.lastItem,
.navigationHomeLede ul li.lastItem {
  margin-bottom: 0;
}

.navigationHome li ul.secondary {
  margin-top: 3px;
}

.navigationHome .secondary li {
  margin: 0;
  text-transform: none;
  font-family: arial, helvetica, sans-serif;
  color: #666;
  font-size: 1.1em;
  line-height: 1.182em; /* 13px */
}

.navigationHome .primary .secondary li {
  font-size: 1em; /* 11px */
  line-height: 1.182em; /* 13px */
}

#home .nav ul.multiline li {
	line-height: 1em;
	margin-bottom: 4px;
}

.navigationHomeLede ul a:link,
.navigationHomeLede ul a:visited,
.navigationHomeLede ul a:hover,
.navigationHomeLede ul a:active {
	color: #000;
}

.navigationHome ul a:link,
.navigationHome ul a:visited,
.navigationHome ul a:hover,
.navigationHome ul a:active {
	color: #000;
}

.navigationHome .secondary a:link,
.navigationHome .secondary a:visited,
.navigationHome .secondary a:hover,
.navigationHome .secondary a:active {
	color: #666;
}

.nav .columnGroup,
.nav .singleRule {
  margin-bottom: 5px;
}

.nav .firstColumnGroup {
  margin-bottom: 0;
}

.nav .columnGroup {
  margin-left: 4px;
  margin-right: 4px;
}

.nav .singleRule {
  padding-top: 5px;
}

.nav.belowFold.opening {
  padding-top: 10px;
} 

/* new nav US Edition only */

.hpLeftnav .kickerBd {
  font-size: 0.909em; /* 10px */
}

.hpLeftnav .navigationHomeLede {
  background: none;
  border-bottom: 0;
  border-top: 0;
  padding-top: 8px;
  padding-bottom: 1px;
}

.hpLeftnav .navigationHomeLede .featured li {
  font-size: 1em;
  line-height: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: georgia, 'times new roman', serif;
}

.hpLeftnav .navigationHome .primary li {
  padding-top: 9px;
  margin-bottom: 9px;
}

.hpLeftnav .navigationHome .secondary li {
  padding: 0;
  border-top: none;
  margin-bottom: 4px;
}

.hpLeftnav .navigationHome .primary .firstItem ul {
  margin-top: 0;
  padding-top: 0;
}
