/* The blogs call this file.  Please make sure any changes made here are also checked there */
.artxicon {margin-left:5px;}
.rsslink {padding-left:20px; background: url('../img/icon/art_feeds.gif') no-repeat;}

/* formatting copy styles */
div.artcopy p {line-height:140%; margin:0 20px 20px 0;}

/* main grid */
.hldpg {width:970px; margin:10px auto 0 auto;}
#hdkey {min-width:990px; border-top:8px solid #069;}
#hldmain {margin-top:20px; margin-bottom:40px;}
#hldcontent {width:795px;}
#maincol {width:480px;}
#myNS {width:640px;}
#mpucol, #admincol, #bdLogin {width:300px;}
#skycol {width:160px;}
#hldft {min-width:990px; margin-top:10px;}


/* header */
#hldhdAds {margin-top:12px;}
#hdAdBanner {width:728px;float:right}
#hldhdMidSect {margin-top:10px;}
#hdLogo {width:232px; margin-right:20px;}
#hldhdTools {margin-top:18px;}
#hldhdTools .incSearch .textinput  {width:140px;}
#hldhdTools .invertbutton {margin-right:10px; padding:2px 12px 2px 0; background: url('../img/icon/icon_searcharrow.jpg') right center no-repeat;}
#hldhdTools .incRss img {margin-top:4px; margin-right:14px;}
#hldhdTools .incRss {width:30px; height:30px; background: url('../img/icon/art_feeds.gif') no-repeat 0 5px;}
#hldhdTools #hdMynsbtn, #hldhdTools #hdLoginBtn {padding:3px 5px; border:1px solid #34A3D1; background:#34A3D1;}
#hldhdTools #hdMynsbtn {margin:0 0 0 10px;}
#hldhdTools #hdLoginBtn {margin:0;}
#hldhdTools #hdMynsbtn a, #hldhdTools #hdLoginBtn a {color:#fff;}

#hdSectionName h4 {margin-top:12px; letter-spacing:-2px;}


/* content navigation */
#hdcontentNav {overflow:visible;}
#hdcontentNav h5 {display:inline;} 
#hdcontentNav h5 a {padding:2px 5px;color:#00759A;}
#hdcontentNav h5 a:hover {background-color:#34A3D1; color:#fff;}
#hdcontentNav li {display:inline;}


/* subject navigation */
#hldhdSubjectNavKey {background: url('../img/bg/nv_hdnav_keybg.jpg') bottom left repeat-x; min-width:990px;}
#hldhdSubjectNav {margin-top:10px; }

#hdSubjectNav {width:970px; float:left; background: url('../img/bg/nv_hdnavbg.jpg') no-repeat;}
#hdSubjectNav li {float:left; }
#snv_space a, #snv_tech a, #snv_environment a, #snv_health a, #snv_life a, #snv_physics-math a, #snv_science-in-society a {display:block; line-height:37px;  text-align:center; color:#000; }
#snv_cookies a {display:block; line-height:37px;  text-align:right; color:#000; text-decoration:underline}

#snv_space a {width:68px;}
#snv_tech a {width:64px;}
#snv_environment a {width:122px;}
#snv_health a {width:78px;}
#snv_life a {width:54px;}
#snv_physics-math a {width:127px;}
#snv_science-in-society a {width:158px;}
#snv_cookies a {width:270px;}

/* #hdSubjectNav li a:hover {color:#fff;}*/
#snv_space a:hover {background: url('../img/bg/snv_space.jpg') no-repeat; color:#fff;}
#snv_tech a:hover {background: url('../img/bg/snv_tech.jpg') no-repeat; color:#fff;}
#snv_environment a:hover {background: url('../img/bg/snv_environment.jpg') no-repeat; color:#fff;}
#snv_health a:hover {background: url('../img/bg/snv_health.jpg') no-repeat; color:#fff;}
#snv_life a:hover {background: url('../img/bg/snv_life.jpg') no-repeat; color:#fff;}
#snv_physics-math a:hover {background: url('../img/bg/snv_physics-math.jpg') no-repeat; color:#fff;}
#snv_science-in-society a:hover {background: url('../img/bg/snv_science-in-society.jpg') no-repeat; color:#fff;}
#snv_cookies a:hover {background: url('../img/bg/snv_cookies.jpg') no-repeat; color:#000000;}



/* common elements */
.incSearch .textinput {margin-right:5px; padding:3px 2px; color:#34A3D1; border:1px solid #34A3D1;}
.adline {background: url('../img/bg/ad_bg.gif') repeat-x; text-align:center;}
.adline p {width:105px; margin:0 auto 5px auto; background-color:#fff; color:#999; text-align:center;}


/* generic panels */
.pnl, .tabpnl {margin-bottom:20px;}
.hldBd h6, .hldAct h6, .pnl h6 {margin-bottom:10px; padding-left:10px; line-height:32px;}
.pnlTxt, #mpucol .pnlXtra  {padding-bottom:8px;margin-bottom:10px;}
.pnlTxt h3, .pnlTxt h5 {margin-bottom:8px;} /* h5 for latestjobs */
.pnlTxt img.floatleft {margin:0 10px 8px 10px;}
.pnlTxt p {margin-bottom:2px;}
.pnl h6 a, a.bxhd, .hldBd h6 a {color:#717171; text-decoration:none;}
.listpnl .pnlTxt  {border-bottom:solid 1px #ccc;}
#mynscta {visibility:hidden;}


/* panel headings for the various widths */
#maincol .hldPnl .pnl h6, #maincol .hldBd h6, .hldAct h6 {background:#F6F6F6 url('../img/bg/bxhd_bg480.jpg') no-repeat;}
#myNS .pnl h6 {background:#F6F6F6 url('../img/bg/bxhd_bg640.jpg') no-repeat;}
#mpucol .pnl h6, #admincol .pnl h6 {margin-bottom:5px; background:#F6F6F6 url('../img/bg/bxhd_bg300.jpg') no-repeat;}
#skcolCover h6, .skcolBx h6 {padding-left:10px; line-height:32px; background: url('../img/bg/bxhd_bg160.jpg') no-repeat;}
#pgft h6 {padding-left:10px; line-height:32px; background:#F6F6F6 url('../img/bg/bxhd_bg970.jpg') no-repeat; line-height:33px;}

/* maincol */
#maincol .pnlTxt, #maincol .pnlXtra, #maincol .hldMiniPnl .pnlTxt p,  #maincol .hldBd ul, #maincol .hldBd form ul, #maincol .hldBd h3, #maincol .hldBd h3.crosshead, #maincol .hldBd h2.highlight, #maincol .hldMonth, #srchRslts, #maincol .artcopy p, .hldAct p, .hldAct ul {margin-left:10px;} /* left margin tweak */


/* mpucol/admincol */
#mpucol .pnlTxt, #admincol .pnlTxt, #mpucol .pnlXtra {margin-bottom:0; padding:10px; border:1px solid #ccc; border-top:none;}
#mpucol .jobpnl {border-top:1px solid #ccc;background:#F2F2F2;}
#mpucol .jobpnl .textinput {background:#fff !important;}
#mpucol .jobpnl ul, #mpucol .jobpnl ul a {color:#999;}
#mpucol .jobpnl ul a {text-decoration:underline;}
#mpucol .jobpnl ul {margin: 10px 0 20px 0;}
#mpucol .jobpnl h3 a {color:#00759A;}

/* listings pages */
li.pnl {padding-bottom:15px; border-bottom:1px solid #ccc;}
li.pnl .infotext, li.pnl p.lowlight {margin:7px 0;}


/* skycol */
.skcolBx {margin-top:10px;}
.skcolBx li {margin-bottom:10px;}
#skcolCover p, .skcolBx p, .skcolBx ul {padding:5px 15px;}


#skcolCover {background:#f2f2f2 url('../img/bg/skcoverbg_vgrad.jpg') repeat-x;}
#skcolCvrBgBase {background: url('../img/bg/skcoverbg_btm.jpg') left bottom no-repeat;}
#skcolCover #coverImg {padding:0 15px;}
#skcolCover #coverImg p, #skcolCover #coverImg ul {padding:5px 5px;}
#skcolAdSky {margin-top:10px; display:block; text-align:center;}
#skcolCover p.infotext a {color:#000;}
.cover {width:130px; z-index:1;}


#skcolFirstlight {margin:10px 0;}

/* footer */
#ftdivider {border-bottom:1px solid #ccc;}
#hldftbktotop {margin-top:0;}
#bktotopbtn {min-width:90px; background: url('../img/bg/backtop.jpg') no-repeat; color:#fff; }
#bktotopbtn p {padding:3px 0 3px 7px;}
#bktotopbtn a {display:block; color:#fff;}

#hldfttools {width:824px; margin:7px auto 0 auto;}
#ftsearch {margin-top:10px;}
#ftsearch .incSearch .textinput {width:415px;}
#ftsearch .invertbutton {margin-right:10px; padding:2px 12px 2px 0; background: url('../img/icon/icon_searcharrow.jpg') right center no-repeat;}

#ftlogin {min-width:330px;}
#hldftLoginTxtBtn {width:240px; margin-right:-34px;}
#ftloginTxt {min-width:140px; margin-top:10px; margin-right:10px; float:left;}


/* footer links */
#hldftbg {min-width:990px; margin-top:10px; padding:20px 0;}
#hldftnav, #ftnavcopyrht {width:824px; margin:0 auto 0 auto; }
#hldftnav .ftnavlnks {width:140px; margin-right:15px; float:left;}
#hldftnav .ftnavlnks h3 {margin-bottom:15px; color:#666;}
#ftnavcopyrht {margin-top:15px; display:block; color:#666;}

/* Login buttons */
#ftloginBtn {min-width:54px; float:left;}
#ftloginBtn p.ftLogin a {display:block; height:31px; padding:10px 9px 0 9px; background: url('../img/bg/ftlogin_btn.jpg') no-repeat; font-weight:bold; color:#fff; float:left;}
#ftloginBtn p.ftLogin a:visited, #ftloginBtn p.ftLogin a:hover, #ftloginBtn p.ftLogin a:active {background: url('../img/bg/ftlogin_btnro.jpg') no-repeat;}

#hldHdLogin {min-width:54px;}
#hldHdLogin input.formbutton {padding:3px 5px;}

/* rollovers */
#coverImg, #hldHdLogin, #ftloginBtn, #hldBrightcove, #hldHdMyNS {position:relative;}
#coverInfo, #rollInfoHd, #rollMyNS, #rollInfoFt {position:absolute;}
#hldHdLogin, #ftloginBtn, #rollInfoHd, #rollMyNS, #rollInfoFt, #hldHdMyNS {z-index:2;}
#rollInfoHd, #rollInfoFt, #rollMyNS, #coverInfo {border:solid #34A3D1 1px; visibility:hidden;}
#coverInfo {width:150px;}
#rollInfoHd, #rollInfoFt, #rollMyNS {width:200px;} 

/* cover panel */
#coverInfo {padding:5px 0; background:#fff; color:#000; left:4px; top:0;  z-index:1;}
#coverInfo ul.markerlist li {margin-bottom:5px;}
#rvlcoverInfo {margin-top:10px; padding:10px;}

/* login & MyNS rollovers */
#rollInfoHd {left:-178px; top:24px;}
#rollMyNS {left:-103px; top:24px;}
#rollInfoHd, #rollInfoFt, #rollMyNS {padding:10px 20px 30px 20px; color:#000; }
#rollInfoHd, #rollMyNS {background:#fff url('../img/bg/hdlogin_bxarrow.jpg') no-repeat top right;box-shadow: 3px 3px 4px #ccc;}
#rollInfoFt {background:#fff url('../img/bg/ftlogin_bxarrow.jpg') no-repeat bottom right; left:-188px; bottom:32px;}

.rolLoginForm label {font-weight:normal;}
.rolLoginForm p a {color:#33A3D1;text-decoration:underline;}
.rolLoginForm ul {margin-top:20px; border-top:1px solid #ccc;}
.rolLoginForm ul.markerlist li {padding:10px 0 10px 10px;border-bottom:1px solid #ccc; background: url('../img/icon/icon_arrow.gif') no-repeat 0 13px;}
.rolLoginForm ul.markerlist li a {color:#000;}
.rolLoginForm .textinput, .rolLoginForm p, .rolLoginForm .rememberme {margin-bottom:5px;}
.rolLoginForm .textinput {width:145px; color:#34A3D1; border:1px solid #34A3D1;}
.rolLoginForm .formbutton {margin-bottom:10px;}
.logClose {margin-top:10px; padding-bottom:0;}

#hldBrightcove {z-index:0;} /* sets Brightcove div lower than login div */


/* Tabbed boxes */
/* All tab curvy corners */
.tabHead {border-bottom:solid #ccc 1px;}
.tabHead h6 {margin:3px 0px;}

.nstabon {padding-left:10px;background:#6fb1cd url(../img/bg/tab_on_l.gif) top left no-repeat;}
.nstabon .nstabinner {background:url(../img/bg/tab_on_r.gif) top right no-repeat;}

.nstaboff {background:#f2f2f2 url(../img/bg/tab_grad.gif) repeat-x;}
.nstaboff .nstaboffinner {padding-left:10px;background:url(../img/bg/tab_off_l.gif) top left no-repeat;}
.nstaboff .nstabinner {background:url(../img/bg/tab_off_r.gif) top right no-repeat;}

.nstabinner {padding-right:10px;}
.nstabon .nstabinner h6 {color:#fff;}

/* Project Sarlacc: MyNS */
/* myNStop */
#myNStop h4, #myNS h4 {line-height:100%;font-size:3em;letter-spacing:-1px;}
#myNStop h5, #myNS h5  {color:#47B1D9; font-weight:bold;line-height:120%;font-size:1.5em;}
#myNStop.hldpg {margin-top:0; padding:15px 0;}
#myNStop h4, #myNStop h5, #myNStop p, #myNS h4, #myNS h5, #myNS p {padding-left:10px; margin:0 30px 10px 0;}
#myNS .pnl .pnlTxt {line-height:160%;}

#mynsads .adsslot {width:200px; margin-bottom:20px;}
#mynsads .floatleft {margin-right:20px;}

/* subsdropdown */
#hdDpdnSubs {width:230px;border-top:solid #a7a7a7 1px;border-bottom:solid #a7a7a7 1px;}
#hdDpdnSubs p.highlight {width:180px;color:#47B1D9;}
#hdDpdnSubs div.floatclear {margin-bottom:5px;} 
#hdDpdnSubs div.floatleft {padding-right:25px;}

/* New item label */
#cnvconnect {position:relative;overflow:visible;}
#newlabel {position:absolute;left:35px;top:-11px;width:30px;background-color:#CC0000;color:#fff;z-index:1;}
#newlabel p {padding:1px 4px 2px 4px;}