/*1347056910,178142561*/

.unsupportedBrowser,
.unsupportedBrowser #contentCurve{background-color:#e1e6ef}
.unsupportedBrowserPage{margin:0 auto;width:930px}
.unsupportedBrowserBox{text-align:center;padding:30px 20px}
.unsupportedBrowserText{margin-left:auto;margin-right:auto;width:570px}
.unsupportedBrowserBrowser{display:inline-block;border:1px solid #fff}
.unsupportedBrowserBrowser:hover{text-decoration:none;background:#fafafa;border-color:#ddd}
.unsupportedBrowserMobile{display:block;margin-left:auto;margin-right:auto;width:320px}
.sp_bxv2lg{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/x/lhJuSwxkX8D.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:170px;width:170px}
.sx_b33417{background-position:-0px -0px}
.sx_22e355{background-position:-0px -171px}
.sx_c1a98c{width:79px;height:78px;background-position:-0px -513px}
.sx_f8c135{background-position:-0px -342px}

#bootloader_yyy8B { height: 42px; }