/*$Id: insideNYTimes.css 103282 2012-07-11 16:21:29Z konige $
/css/0.1/screen/common/insideNYTimes.css 
(c)2006 - 2008 The New York Times Company */     

#insideNYTimes {
  clear: both;
  margin-bottom: 0;
  padding-top: 4px;
}

#insideNYTimesHeader {
  position: relative;
  padding: 7px 10px 2px 10px;
  border-bottom: 1px solid #d3d3d3;
  background: #fff;
}

#insideNYTimesHeader:after {
  content: "."; 
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#insideNYTimesHeader h4 {
  font-size: 1.2em;
  text-transform: uppercase;
  margin-bottom: 6px;
  color: #333;
}

#insideNYTimesScrollWrapper {
  width: 970px;
  overflow: hidden;
}

#insideNYTimes .navigation {
  position: absolute;
  top: 4px;
  right: 9px;
}

#insideNYTimes .navigation #leftArrow,
#insideNYTimes .navigation #rightArrow {
  cursor: pointer;
}

#insideNYTimes #insideNYTimesBrowser {
  table-layout: fixed;
  width: auto;
  background: #fff;
}

#insideNYTimes #insideNYTimesBrowser { /*legacy remove block shortly after launch*/
  width: 970px;
  border-collapse: collapse;
}

#insideNYTimes #insideNYTimesScrollWrapper #insideNYTimesBrowser { /*overrides legacy code above*/
  width: auto;
  border-collapse: separate;
}

#insideNYTimes #insideNYTimesBrowser td {
  border-left: 1px solid #d3d3d3;
  text-align: left;
  vertical-align: top;
  width: 160px;
  margin: 0;
  padding: 0 0 11px 0;
}

#insideNYTimesScrollWrapper #insideNYTimesBrowser td {
  width: 161px;
}

#insideNYTimes #insideNYTimesBrowser td.first {
  border-left-width: 0;
}

#insideNYTimes #insideNYTimesBrowser .story {
  width: 151px;
  margin: 0;
  padding: 0 5px;
}

#insideNYTimesBrowser .kicker {
  margin-top: 13px;
  margin-bottom: 8px;
}

#insideNYTimesBrowser .mothImage {
  margin-bottom: 3px;
}

#insideNYTimesBrowser h3 {
  font-weight: normal;
  font-size: 2.2em;
  line-height: 1.091em; /*24px*/
}

#insideNYTimesBrowser .summary {
  margin: 0;
  font-size: 1.4em;
  line-height: 1.214em; /*17px*/
}

/* needed for legacy pages that dont get 0.1/global.css */
.hidden {
  display: none;
}

/* BEGIN abColumn */
 
.abColumn #insideNYTimes {
  margin-left: 10px;
  margin-right: 7px;
  background-color: #fff;
}

.abColumn #insideNYTimes:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.abColumn #insideNYTimes .leftPanel,
.abColumn #insideNYTimes .rightPanel {
  width: 57px;
  float: left;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 30px;
}

/* legacy remove shortly after launch */
.abColumn #insideNYTimes #insideNYTimesBrowser {
  border-collapse: collapse;
  float: left;
  height: 230px;
  min-height: 230px;
  width: 480px;
}

.abColumn #insideNYTimes #insideNYTimesBrowser td {
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}
/* end legacy remove shortly after launch */

.abColumn #insideNYTimesScrollWrapper {
  float: left;
  overflow: hidden;
  width: 484px;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}

.abColumn #insideNYTimesScrollWrapper #insideNYTimesBrowser {
  float: none; /* remove once legacy code above is removed */
  border-collapse: separate; /* remove once legacy code above is removed */
  width: auto;
  height: 230px;
  min-height: 230px;
}

.abColumn #insideNYTimesScrollWrapper #insideNYTimesBrowser td.first {  /* remove entire rule block once legacy code above is removed */
  border-left-width: 0; 
}

.abColumn #insideNYTimesScrollWrapper #insideNYTimesBrowser td {  /* remove entire rule block once legacy code above is removed */
  border-right: none; 
}

.barTouchScroll {
  display: none;
}
