/*$Id: modules.css 110844 2012-09-14 14:39:40Z reed.emmons $
/css/0.1/screen/common/modules.css 
(c)2006 - 2012 The New York Times Company */

/* BEGIN Generic Tabbed Module*/

.tabsContainer {
  position: relative;
  bottom: -1px;
  _height: 1%; /* FIXME move to ie6 css*/
}

.mainTabsContainer {
  float: left;
}

.tabs {
  display: block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: arial, helvetica, sans-serif;
  overflow: hidden;
}

#mainTabs {
  float: left;  /* without this the memberTools is not accessable as the width of the tabsContainer takes the entire shell width */ 
}

.tabs li {
  float: left;
  display: block;
  margin: 0;
  padding: 4px 7px 3px 7px;
  background-color: #f0f4f5;
  background-image: none;
  border: 1px solid #ccc;
  border-width: 1px 1px 1px 0;
  font-size: 1em;
  white-space: nowrap;
}

.tabs li.first,
.tabs li.firstItem {
  border-left: 1px solid #ccc;
}

.tabs li.selected {
  background: #fff;
  border-bottom: none;
  padding: 4px 7px 4px 7px;
}

.tabs li a,
.tabs li a:link,
.tabs li a:visited,
.tabs li a:hover,
.tabs li a:active {
  color: #333;
}

#mainTabs li a,
#mainTabs li a:link,
#mainTabs li a:visited,
#mainTabs li a:hover,
#mainTabs li a:active {
  color: #004276;
}

.tabContent {
  clear: both;
  border: 1px solid #ccc;
  padding: 7px;
  display: none;
}

.tabContent.active {
  display: block;
}

.tabContent ol {
  margin-top: 0;
  margin-bottom: 5px;
}

.tabContent ol li {
  padding-top: 3px;
  padding-bottom: 3px;
}

/* END Generic Tabbed Module*/

/* BEGIN Tabbed Blog Module */

.tabbedBlogModule h4 {
  font-size: 1.1em;
  margin: 10px 0 8px 0;
  padding: 0;
  text-transform: uppercase;
}

.tabbedBlogModule .tabContent ul {
  padding: 2px 0 0 7px;
}

.tabbedBlogModule .tabContent ul li {
  line-height: 1em;
}

.tabbedBlogModule .tabContent ul li a {
  line-height: 1.15em;
}

.tabbedBlogModule .kicker {
  color: #333;
  font-size: 0.917em;
  line-height: 1em;
}

.tabbedBlogModule p.date {
  font-size: 0.833em;
  color: #808285;
  margin: 2px 0 5px 0;
}

/* END Tabbed Blog Module */

/* BEGIN audio story styles - seen on sectionfronts and article inlines */

.audioStory .subscribeLink {
  display: block;
  margin-top: 5px;
}

.audioStory h3 {
  margin-bottom: 2px;
}

.articleInline .audioStory h3 {
  font-size: 1.4em;
  line-height: 1.1429em; /* 16px */
}

.audioStory .podcastSummary {
  min-height: 85px; /* keeps inlinePlayer from moving up into thumb area */
}

.audioStory .inlinePlayer {
  margin-bottom: 10px;
}

/* END audio story styles */

/* BEGIN inline audio player */

.refer li .inlinePlayer {
  margin-left: -8px;
  margin-bottom: 0;
}

.inlinePlayer {
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-width: 1px 0 !important;
  padding: 3px 4px 2px;
  margin-top: 4px;
}

/* END inline audio player */

/* CALENDAR STYLES (Past 7 days) */

.calendarLinks .inset {
  margin: 8px;
}

.calendarLinks .sectionHeader,
.calendarLinks .subColumnA .kicker {
  margin-left: 5px;
}

.wideA .aColumn .calendarLinks .subColumns .subColumnB .insetH {
  margin-left: 20px;
}

.bColumn .calendarLinks .subColumns {
  background: none;
}

table.TwoWeekCalendar {
  width: 165px;
  padding: 0;
  background: url(http://graphics8.nytimes.com/images/global/backgrounds/CalendarBlueWeekbg_156x19.gif) repeat-x 5px 3px;
  font-family: arial, helvetica, sans-serif;
}

table.TwoWeekCalendar th {
  padding: 0 0 2px 5px;
  font-size: 1.1em;
  color: #666;
}

table.TwoWeekCalendar td {
  font-size: 1.1em;
  color: #bababa;
  text-align: center;
}

table.TwoWeekCalendar td a {
  display: block;
  width: 16px;
  border: 1px solid white;
  color: #999;
}

table.TwoWeekCalendar td a:hover {
  border: 1px solid #004276;
}

table.TwoWeekCalendar a.currentWeek {
  color: #004276;
  font-weight: bold;
  border: 1px solid #ccc;
}

table.TwoWeekCalendar a.currentDay {
  color: #004276;
  font-weight: bold;
  border: 1px solid #004276;
}

.calendarLinks .inlineSearchControl .text {
  width: 128px;
}

/* END Calendar Styles */

/* BEGIN Edition Toggle Styles */

.editionToggle {
  display: none;
  float: left;
  margin: 5px 0 0 9px;
  font-family: arial, helvetica, sans-serif;
  font-size: 1.1em;
}

/* webkit adjustments */

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .editionToggle {
    margin-top: 4px;
  }
}

.editionToggle a,
.editionToggle a:link,
.editionToggle a:visited,
.editionToggle a:hover,
.editionToggle a:active {
  color: #004276;
}

/* edition dropdown */

.dropDownModal {
  position: relative;
  *z-index: 1;
}

.dropDownModalLinkContainer {
  position: absolute;
  background: #fff;
  z-index: 100000001;
}

.dropDownModalLink {
  display: inline-block;
  background: url(http://graphics8.nytimes.com/images/toggles/toggle_down_icon_9x5.gif) no-repeat right center;
  padding-right: 14px;
}

.dropDownModalBox {
  position: absolute;
  background: #fff;
  z-index: 100000000;
}

.editionDropDownModal {
  font-family: arial, helvetica, sans-serif;
  float: left;
}

.editionDropDownModal .dropDownModalLinkContainer {
  height: 20px;
  left: 2px;
  font-size: 1.2em; /* 12px */
  padding-right: 8px;
  border-color: #fff;
  border-bottom: none;
}

.editionDropDownModalOpened .dropDownModalLinkContainer {
  height: 19px;
  border-color: #ccc;
}

.editionDropDownModal .dropDownModalLink {
  margin: 4px 0 0 7px;
  text-decoration:none;
}

.editionDropDownModalOpened .dropDownModalLink {
  color: #000;
  text-decoration: none;
  background-image: url(http://graphics8.nytimes.com/images/toggles/toggle_up_icon_9x5.gif);
}

.editionDropDownModal .dropDownModalBox {
  left: 2px;
  top: 19px;
  width: 120px;
  -moz-box-shadow: 1px 0 2px #999;
  -webkit-box-shadow: 1px 0 2px #999;
  box-shadow: 1px 0 2px #999;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#999999')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#999999');
}

.editionDropDownModal .inset {
  margin: 6px 6px 5px;
}

.editionDropDownModal .dropDownModalMenu li {
  line-height: 2.0; /* 24px */
}

/* END Edition Toggle Styles */

#memberTools #profileDropDownModal { /* more specificity to override #membertools li */
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.profileDropDownModal .dropDownModalLinkContainer {
  height: 20px;
  right: 0;
  font-size: 1em; /* 12px */
  padding-right: 4px;
  border-color: #fff;
  border-bottom: none;
  top: -16px;
  text-align: center;
}

.profileDropDownModalOpened .dropDownModalLinkContainer {
  height: 22px;
  border-color: #ccc;
  right: -1px;
  padding-right: 5px;
}

.profileDropDownModal .dropDownModalLink {
  margin: 4px 0 0 4px;
  text-decoration: none;
}

.profileDropDownModalOpened .dropDownModalLink {
  color: #000;
  text-decoration: none;
  background-image: url(http://graphics8.nytimes.com/images/toggles/toggle_up_icon_9x5.gif);
}

.profileDropDownModal .dropDownModalBox {
  right: -1px;
  top: 6px;
  width: 170px;
  -moz-box-shadow: 1px 0 2px #999;
  -webkit-box-shadow: 1px 0 2px #999;
  box-shadow: 1px 0 2px #999;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#999999')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#999999');
}

#profileDropDownModal .dropDownModalMenu .lastItem { /* more specificity to override #membertools li */
  border: 0;
}

.profileDropDownModal .inset {
  margin: 6px 6px 5px;
}

#profileDropDownModal .dropDownModalMenu li { /* more specificity to override #membertools li */
  line-height: 2.3; /* 27px */
  font-size: 1em;
  display: list-item;
  border: 0 solid #ccc;
  border-width: 0 0 1px 0;
  text-align: left;
  overflow: hidden;
}
