/*$Id: shell.css 113517 2012-10-12 08:49:57Z gopi_borra $
/css/0.1/screen/common/shell.css 
(c)2006 - 2010 The New York Times Company */ 

#shell {
  width: 972px;
  margin: 0 auto;
  text-align: left;
}

#page {
  border: 1px solid #999;
  padding:0;
  width: 970px;
}

#mainTabs li {
  border-color: #999;
}

/* memberTools */

#memberTools {
  float: right;     
  width: auto;
  margin: 0px;
  padding: 2px 0px 0px 0px;
  white-space: nowrap;   
  text-align: right;
  font-family: arial, helvetica, sans-serif;
  position: relative;
  z-index: 100000000; /* for ie7 */
}

#memberTools li {
  font-size: 1.2em;
  margin: 0;
  background-image: none;
  display: inline; 
  white-space: nowrap;
  border: 0 solid #ccc;
  border-width: 0 0 0 1px;
  padding: 0 4px 0 4px;
}

#memberTools li.first,
#memberTools li:first-child {
  border-left-width: 0;
}

#memberTools li span.username a {
  font-weight: bold;
}

/* Membertools drop down */

#dropDown { 
  position: absolute;
  top: 17px; 
  left: 0px;
  width: 113px;
  padding: 10px 0 0 0;
  border: 1px solid #999;
  text-align:left;
  visibility: hidden;
  z-index: 9999;
  background: #fff;
}

/* For when the dropDown is in an li, not the membertools ul */
.containingBlock #dropDown {
    top: 14px;
}

#dropDown ul {
  margin: 0 0 10px 0;
  padding:0;
  list-style-type: none;
}

#dropDown ul li {
  margin: 0;
  padding: 0;
  display: block;
  font-family: arial, helvetica, sans-serif;
  font-weight:bold;
  font-size: 10px;
  background: transparent;
  color: #666;
  border: none;
}

#dropDown a {
  display: block;
  height: 10px;
  margin: 0;
  padding: 2px 10px;
  text-transform: none;
  font-weight: normal;
}

#dropDown a:link,
#dropDown a:visited {
  color:#004276;
}	

#dropDown li.sect a {
  color: #666;
  text-transform: uppercase; 
}

/* END Membertools drop down */

/* BEGIN Main */

div#main {
  border-top: 1px solid #fff;
  clear: both;
  margin-top: 15px;
  padding: 0 0 7px 0;
}

div#main:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}   

/* Hides from IE-mac \*/
* html #main {
  height: 1%; 
}
/* End hide from IE-mac */

/* END Main */

/* BEGIN Footer */

.pageFooter {
  clear: both;
  border-top: 2px solid #000;
}

.pageFooter .inset {
  margin: 13px 0 13px 10px;
}

.pageFooterNavList li {
  float: left; 
  margin: 0;
  padding: 0 7px;
  font-size: 1.1em; /* 11px */
  line-height: 1.273em; /* 14px */
  font-family: arial, helvetica, sans-serif;
  border-left: 1px solid #ccc;
  background-image: none;
}

.pageFooterNavList li:first-child {
  padding-left: 0;
  border-left: none;
}

.pageFooterNavList a,
.pageFooterNavList a:link,
.pageFooterNavList a:visited {
  color: #666;
}

/* legacy footer */

#footer {
  text-align: center;
  clear: both;
  border-top: 2px solid black;
  padding: 13px 0;
}

#footer a {
  color: #666;
  text-decoration: underline;
}

#footer ul {
  list-style: none;
  margin: 0;
}

#footer ul.first {
  margin-bottom: 10px;
}

#footer ul li {
  display: inline;
  padding: 0 5px 0 9px;
  font-family: arial, helvetica, sans-serif;
  font-size: 1.1em;
  border-left: 1px solid #ccc;
  background: none;
}

#footer ul li.first {
  border-left: none;
  padding-left: 7px;
}

#footer a.rssButton,
#footer a.rssButton:visited {
  padding: 1px 0 5px 20px;
  background: transparent url(http://graphics8.nytimes.com/images/global/icons/feed_icon_16x16.gif) no-repeat top left;
}

/* END Footer */
