@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Regular'), local('Cabin-Regular'), url(../themes.googleusercontent.com/static/fonts/cabin/v4/K6ngFdK5haaaRGBV8waDwA.ttf) format('truetype');
}
