#content-main aside .btn-jobsModule { margin-bottom:2em; border:1px solid #ddd; }

#content-main aside .btn-jobsModule a:hover { -webkit-box-shadow: inset 0px 0px 5px 5px rgba(25, 25, 25, 0.1); -moz-box-shadow: inset 0px 0px 10px 2px rgba(25, 25, 25, 0.2); box-shadow: inset 0px 0px 5px 5px rgba(25, 25, 25, 0.1);
}
#content-main aside .btn-jobsModule a { background-color:#EBF2F9; display:block; color:#000; border:3px solid #fff; padding:7px 8px 0 10px; height:75px; ;
	-webkit-transition: background-image 2s ease; -moz-transition: all 2s ease; -o-transition: background-image 2s ease; transition: background-image 2s ease;
}

#content-main aside .btn-jobsModule a:hover .h4 { 
	color:#00e;
	text-decoration:underline !important;
}
#content-main aside .btn-jobsModule a .h4 {
	font-size:1.8em;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	margin-bottom:3px;
}
span.h4 { display:block; }

#content-main > aside { color:white; float:left; margin:0 1.408450704% 1em;/* 10px / 710px */ padding:0; min-height:100%; width:30.98591549%; /* 220px / 710px */ }
#content-main > aside > figure img { display:block; margin:0 auto; }

/*#content-main > aside > figure a { text-decoration:none; }*/

#content-main aside .module.services { border:1px solid #ddd; margin-bottom:2em; padding:0 10px; }
#content-main aside .module h4, #content-main aside article.services h4 { color:#000; font-size:1.8em; font-weight:normal; margin:0 0 5px; border-bottom:1px solid #333; padding:6px 0 0; }

#content-main > aside .module .somemore + h4 { margin:1em 0; }

#content-main aside article.moreCatagories { background-color:#eff2f7; margin-bottom:2em; border:1px solid #ddd; padding:0 10px; }

#content-main aside h4 { color:#000; }

#content-main aside .btn-somemore { text-align: right; font-weight:bold; font-size: 1.1em; margin-top: -8px ; display:block; }

