*  {margin: 0; padding: 0; text-align: left;}

body {font: 9pt Tahoma, Verdana, "Lucida Sans Unicode", Helvetica, Arial, sans-serif; background: #fff; color: #000;}

h2, h3, h4, p, ul, ol, dl, address  {padding: .5em 0;}
h1, h2, h3, h4 {font-family: Helvetica, Arial, sans-serif; font-weight: bold;}
h1 {font-size: 180%;}
h1 span {display: block; font-size: 80%;}
h2 {font-size: 160%;}
h3 {clear: left; font-size: 140%;}
h4 {font-size: 120%;}
h5 {font-size: 110%;}
h6 {font-size: 100%;}

img, img a {border: none;}

a {color: #be9826; text-decoration: underline;}

address {font-style: normal;}
address span {display: block;}

pre {padding-left: 20px; font-size: 1em;}
code, pre {color: #666; font: 1em monaco, courier, monospace; font-weight: normal;}

ul {list-style-type: disc;}
ol {margin-left: 20px;}

dt {font: 100% Helvetica, Arial, sans-serif; font-weight: bold;}
dt span {display: block; font-weight: normal;}
dd {margin-bottom: .5em;}
dd p img {display: block;}
dd blockquote {margin: .5em 0;}
dd pre, dd ul {padding-left: 0;}

blockquote {margin-left:20px; border-left: 1px solid #666; padding-left: 20px;}

dd p, form p, blockquote p {margin-left: 0;}

form {margin: .5em 20px;}
form h3 {padding-left: 0;}
form div {clear: both;}
fieldset {border: 1px solid #ccc; padding: 1em;}
legend {display:none;}
label {margin-bottom: .5em;}
label, label span {display: block; color: #fff; font-weight: bold;}
input, textarea {width: 95%; border: 2px double #ad8a22; padding: 2px; background: #fff; color: #000; font: 100% Tahoma, Verdana, "Lucida Sans Unicode", Helvetica, Arial, sans-serif;}
textarea {height: 16em;}

table {width: 90%; margin-left: 20px; border-collapse: collapse;}
th {border-bottom: 1px solid #666; padding-right: 1em; text-align: left;}
td {border-bottom: 1px solid #666; padding: .5em 1em .5em .25em; font: 100% Tahoma, Verdana, "Lucida Sans Unicode", Helvetica, Arial, sans-serif; vertical-align: top;}
td+td {border-left: 1px solid #666;}



/* layout sections specifics */

/* content-main */
#content-main {padding:1em 0;}
#content-main ol, #content-main ul {padding-left:20px;}
#content-main table {margin-right:5px;}
#content-main table th {padding:.2em;}
#content-main h2+p {font-size: 110%; font-weight: bold;}
#content-main hr {display: block; width: 75%; margin: 1em auto;}

/* content-summary */
#content-summary {overflow: hidden; padding-top: 1.5em;}

/* content-members */
.content-members {clear: both; overflow: hidden;}
.content-members h3 {margin-top:1.2em;}
.content-members ul {list-style-type: none;}
.content-members li {float: left; width: 14em;}
.content-members dl  {float: left; min-width:125px; width: 19%; min-height: 12em; margin: 0 20px 1em 20px; border-bottom: 1px solid #999; padding: .5em 0;}
.content-members dl ul {margin-left:0; padding-left:0;}
.content-members dl li {float:none;}

/* content-sub */
#content-sub {padding:1em 0;}
#content-sub ul {list-style-type: none;}
#content-sub table {width: 90%;}
#content-sub code, #content-sub pre {color: #ccc;}
#content-sub form div {clear: both;}
#content-sub label, #content-sub label span {display: block; color: #fff; font-weight: bold;}
#content-sub input, #content-sub textarea {min-width: 10em; width: 95%; border: 2px double #ad8a22; padding: 2px;}
#content-sub textarea {height: 16em;}

#site-info {clear:both;}


/* template specifics */
body.index #branding blockquote {margin-left:0; padding-left:0; border-left: none; font-size: 120%; font-weight: bold; letter-spacing: -1px;}
body.index #content-main h3+p {font-weight: bold;}
body.index #content-main h4+p {color: #666;}
body.index #content-main h4+p+p {color: #666;}
body.index #content-main div {float: left; width: 45%; min-height:20em; margin: 0 4% 1em 0; border-bottom: 1px solid #999; padding: .5em 0 0 0;}
body.index #content-main div * {margin: 0;}
body.index #content-sub {padding-top: 1.5em; page-break-before: always;}
body.index #content-sub h2+h3+p+p {margin: 0 0 .5em 0; border-bottom: 1px solid #666; padding: .5em 0 1em 0; font-size: 110%; font-weight: bold;}
body.index #content-sub h3+p+p {margin: 0 0 .5em 0; border-bottom: 1px solid #666; padding: .5em 0 1em 0; font-weight:bold;}

body.category #content-main h3+p+p {margin: 0 0 1em 0; border-bottom: 1px solid #999; padding: .5em 0 1em 0;}
body.category #content-sub {clear:both; padding-top: 1.5em;}
body.category dl {float: left; width: 45%; min-height: 16em; margin: 0 4% 1em 0; border-bottom: 1px solid #999; padding: .5em 0 1em 0;}

body.individual #content-main {float: none; width: 100%; padding: 0 0 2em 0;}
body.individual #content-sub {float: none; width: 100%; padding-bottom: 2.5em;}

body.index th, body.category th, body.index td, body.category td {border-bottom:none;}
body.index td+td, body.category td+td {border-left:none;}



/* classes */
.invisible {display: none;}
.clear {clear: both;}
.left {float: left; margin-left: 20px;}
.right {float: right; margin: 1em;}
.offleft {position: absolute; left: -9999px;}
.callout {width:185px; float:right; margin:.5em;}
.code {width: 90%; margin:0 20px; border: 1px solid #191919; padding: 20px 0; background-color: #ffe699;}

.example {border-top:1px solid #000; border-bottom:1px solid #000; padding:1em;}
.example p {margin:0 0 1em 0; font-weight:bold; padding:0;}

.pullquote {width: 10em; margin: 1em; border: 1px solid #191919; background-color: #ffe699; font-weight: bold; font-size: 110%; line-height: 140%;}
q.pullquote {padding: 1em;}
body.page #content-sub .pullquote {width: auto; border: 1px solid #ccc; padding:1em;}

.question p, #footer-edutf {font-style: italic;}

dl.lead  {float: none; width: auto; min-height:1em; height: auto; margin: 0; border-bottom:none; padding: .5em 20px 0 20px;}
dl.lead dt {font-size: 110%;}
dl.lead dd {margin:0;}
dl.lead p {padding-bottom:0; font-size: 110%;}
dl.lead img {float: left; margin-right: 1em; border: 1px solid #787878;}
li.lead {font-weight:bold;}

.member img {float: left; margin: 0 1em 0 0; border: 1px solid #787878;}

div.archives {float:left; width:40%; margin-left:1em;}
div.archives ul {padding-left:1.5em;}

.search h5 {padding-bottom:0;}
.search p+h5 {border-top:1px solid #ccc;}

input.submit {width: auto !important; padding: 1px 1em !important; border: 2px double #7f6619 !important; border-top-color: #ad8a22; background: #fc3 url(../../../../files/theme/submit.png) repeat-x 0 100%; color: #fff; font: bold 82% Tahoma, Verdana, "Lucida Sans Unicode", Helvetica, Arial, sans-serif; text-transform: uppercase;}
input.submit:hover, input.submit:focus {border: 2px double #5f4b12;}

.navigation {clear:both; margin:1em 20px; font-weight:bold;}
.navigation .left {margin:0;}
.navigation .right {margin:0;}


/* hidden */
#skip, #fm-search, #nav-main, #nav-sub, #nav-supp, #collapse-summary, #collapse-form, #stmjrCollapse-content-summary, #stmjrCollapse-content-sub, #content-sub #content-branding {display: none;}


/* For Chinese translations */
div[lang="zh"], div.zh {font: 14px/160%  Tahoma, Verdana, "Lucida Sans Unicode", Helvetica, "Arial Unicode MS", sans-serif;}
